<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Favoritas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="card-background-page">
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let userFa of usersFa | async">
        <div *ngFor="let item of items | async">
          <div *ngIf="userFa.key == item.key && userFa.marked == true">
            <ion-card>
              <div *ngFor="let itemImage of itemsImage | async">
                <div *ngIf="item.key == itemImage.key">
                  <ion-card class="type">
                    <img src="{{itemImage.screenshot1}}" (click)="nanny(item.key)"/>
                    <div class="card-title">{{item.tarifa}}</div>
                  </ion-card>
                </div>
              </div>
              <ion-card-content>
                <ion-card-title>
                  <div text-center>
                    <h2 style="color:#ac64b0"><b>{{item.nickname}}</b></h2>
                  </div>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
