<ion-header>

  <ion-navbar>
    <ion-title>Evaluación</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <div text-center>
          <h2>Califica el cuidado de tu Nanny</h2>
          <img src="{{nanyImage.screenshot1}}" style="width:40%;border-radius:50%;">
          <h6>{{nannyP.title}}</h6>
          <h3 style="color:#ac64b0">{{nannyP.nickname}}</h3>
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-rating [readOnly]="false" [value]="0" (ionClick)="calificar($event)">

    </ion-rating> -->
    <ion-grid class="rating-container">
      <ion-row>
        <ion-col *ngFor="let star of stars; let i = index " tappable (click)="starClicked(i)">
          <ion-icon [name]="star"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-row>
      <ion-col col-12>
        <div text-center>
          <ion-item>
            <ion-label stacked color="dark" text-center><h2>¿Algún comentario?</h2></ion-label>
            <ion-textarea name="note"
            [(ngModel)]="data.note" name="note" autocomplete="on" autocorrect="on" rows="5" cols="50"></ion-textarea>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <div text-center>
          <button ion-button block type="button" color="dark" (click)="guardar(valor)">Calificar</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
