<ion-header>

  <ion-navbar hideBackButton>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Pago</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
        <ion-title>
          <div text-wrap>
            {{nannyP.title}}
          </div>
        </ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-4></ion-col>
          <ion-col col-8>
            <div text-right>
              <h5><b style="text-transform: uppercase;">Tarifa: $ {{ordersU.costo}}</b></h5>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <button ion-button full color="dark" (click)="pay('paypal', ordersU.costo, 'home', CodigoPromo.text)">
          Pagar
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div>
    <div text-center>
      {{this.promoText}}

    </div>
  </div>
  
</ion-content>
