page-login {

  .content {
    background-image: url('../assets/imgs/textura.jpg');
  }

  .politicas {
    color: #777;
    background: #fff;
    height: 48px;
  }

  .card-content-ios {
    padding: 0px 0px 3px;
    font-size: 1.0rem;
    line-height: 1.4;
  }

}
