<ion-header hidden>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="login-content content" padding>
  <div class="login-box">
      <br><br><br><br>
      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col text-center col-8>
          <img src="./assets/imgs/nannapnegro.png" op-lazy-img>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn-fb" full (click)="signInWithFacebook()" icon-left color="#37639e">
            <ion-icon name="logo-facebook"></ion-icon>
            Inicia sesión con Facebook </button>
            <ion-card color="black">
              <ion-card-content>
                  <ion-item text-center>
                    <ion-label class="card-content-ios">
                      Al iniciar sesión aceptas nuestras <br>
                      políticas de privacidad disponibles <br>en nuestro sitio web.
                    </ion-label>
                    <!--<ion-checkbox [(ngModel)]="pepperoni"></ion-checkbox>-->
                  </ion-item>
                  
              </ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>

        </ion-col>
      </ion-row>
  </div>
</ion-content>
