
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [style.background-image]="image">

</ion-content>
