<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>detalles</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="usuario.user == 0">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <img src="{{nanyImage.screenshot1}}" style="width:90%;border-radius:50%;">
        </ion-col>
        <ion-col col-6>
          <div text-center>
            <br>
            <h6>{{nannyP.title}}</h6>
            <h3 style="color:#ac64b0">{{nannyP.nickname}}</h3>
            <h6> <small>{{nannyP.certificado}}</small> </h6>
          </div>
        </ion-col>
      </ion-row>
      <br><br>
      <ion-row>
        <ion-col col-6>
          <h6>Fecha del cuidado:</h6>
        </ion-col>
        <ion-col col-6>
          <h6 style="font-weight:normal"> {{ ordersU.myDate | date: 'dd-MM-yyyy' }}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h6>Horario:</h6>
        </ion-col>
        <ion-col col-6>
          <h6 style="font-weight:normal">{{ordersU.myTime}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h6>Duración:</h6>
        </ion-col>
        <ion-col col-6>
          <h6 style="font-weight:normal">{{ordersU.timeCuidado}} horas</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h6>Niños a cuidar:</h6>
        </ion-col>
        <ion-col col-6>
          <h6 style="font-weight:normal">{{ordersU.numChil}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <div text-center text-uppercase>
            <h3>Datos de los niños</h3>
          </div>
        </ion-col>
      </ion-row>
      <div *ngIf="ordersU.numChil == 1">
        <ion-row>
          <ion-col col-6>
            <h6>Nombre</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.nombre1}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Apellido paterno</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.apellidop1}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Apellido materno</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.apellidom1}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Edad</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.edad1}} años</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Fecha de nacimiento</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.fechan1 | date: 'dd-MM-yyyy' }}</h6>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="ordersU.numChil == 2">
        <ion-row>
          <ion-col col-6>
            <h6>Nombre</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.nombre1}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Apellido paterno</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.apellidop1}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Apellido materno</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.apellidom1}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Edad</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.edad1}} años</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Fecha de nacimiento</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.fechan1 | date: 'dd-MM-yyyy' }}</h6>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            <h6>Nombre</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.nombre2}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Apellido paterno</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.apellidop2}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Apellido materno</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.apellidom2}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Edad</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.edad2}} años</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Fecha de nacimiento</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.fechan2 | date: 'dd-MM-yyyy' }}</h6>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="ordersU.numChil == 3">
        <ion-row>
          <ion-col col-6>
            <h6>Nombre</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.nombre1}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Apellido paterno</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.apellidop1}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Apellido materno</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.apellidom1}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Edad</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.edad1}} años</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Fecha de nacimiento</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.fechan1 | date: 'dd-MM-yyyy' }}</h6>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            <h6>Nombre</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.nombre2}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Apellido paterno</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.apellidop2}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Apellido materno</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.apellidom2}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Edad</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.edad2}} años</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Fecha de nacimiento</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.fechan2 | date: 'dd-MM-yyyy' }}</h6>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            <h6>Nombre</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.nombre3}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Apellido paterno</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.apellidop3}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Apellido materno</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.apellidom3}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Edad</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.edad3}} años</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Fecha de nacimiento</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersU.fechan3 | date: 'dd-MM-yyyy' }}</h6>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col col-6>
          <h6>Información adicional</h6>
        </ion-col>
        <ion-col col-6>
          <h6 style="font-weight:normal">{{ordersU.note}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <div text-center text-uppercase>
            <h3>Domicilio del cuidado</h3>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h6>Ciudad</h6>
        </ion-col>
        <ion-col col-6>
          <h6 style="font-weight:normal">{{ordersU.ciudad}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h6>Delegación</h6>
        </ion-col>
        <ion-col col-6>
          <h6 style="font-weight:normal">{{ordersU.delegacion}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h6>Colonia</h6>
        </ion-col>
        <ion-col col-6>
          <h6 style="font-weight:normal">{{ordersU.colonia}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h6>Calle</h6>
        </ion-col>
        <ion-col col-6>
          <h6 style="font-weight:normal">{{ordersU.calle}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h6>Número exterior</h6>
        </ion-col>
        <ion-col col-6>
          <h6 style="font-weight:normal">{{ordersU.numEx}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h6>Número interior</h6>
        </ion-col>
        <ion-col col-6>
          <h6 style="font-weight:normal">{{ordersU.numIn}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h6>Código postal</h6>
        </ion-col>
        <ion-col col-6>
          <h6 style="font-weight:normal">{{ordersU.cp}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h6>Total</h6>
        </ion-col>
        <ion-col col-6>
          <h6><b>${{ordersU.costo}}</b></h6>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="usuario.user == 1">
    <ion-grid>
      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-8>
          <div text-center>
            <img src="{{user.foto}}?type=large&width=720&height=720" style="width:70%;border-radius:50%;">
          </div>
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-12>
            <div text-center>
              <h6>{{user.displayName}}</h6>
            </div>
          </ion-col>
      </ion-row>
      <br><br>
      <ion-row>
        <ion-col col-6>
          <h6>Fecha del cuidado:</h6>
        </ion-col>
        <ion-col col-6>
          <h6 style="font-weight:normal"> {{ ordersN.myDate | date: 'dd-MM-yyyy' }}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h6>Horario:</h6>
        </ion-col>
        <ion-col col-6>
          <h6 style="font-weight:normal">{{ordersN.myTime}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h6>Duración:</h6>
        </ion-col>
        <ion-col col-6>
          <h6 style="font-weight:normal">{{ordersN.timeCuidado}} horas</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h6>Niños a cuidar:</h6>
        </ion-col>
        <ion-col col-6>
          <h6 style="font-weight:normal">{{ordersN.numChil}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <div text-center text-uppercase>
            <h3>Datos de los niños</h3>
          </div>
        </ion-col>
      </ion-row>
      <div *ngIf="ordersN.numChil == 1">
        <ion-row>
          <ion-col col-6>
            <h6>Nombre</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.nombre1}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Apellido paterno</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.apellidop1}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Apellido materno</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.apellidom1}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Edad</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.edad1}} años</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Fecha de nacimiento</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.fechan1 | date: 'dd-MM-yyyy' }}</h6>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="ordersN.numChil == 2">
        <ion-row>
          <ion-col col-6>
            <h6>Nombre</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.nombre1}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Apellido paterno</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.apellidop1}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Apellido materno</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.apellidom1}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Edad</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.edad1}} años</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Fecha de nacimiento</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.fechan1 | date: 'dd-MM-yyyy' }}</h6>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            <h6>Nombre</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.nombre2}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Apellido paterno</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.apellidop2}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Apellido materno</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.apellidom2}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Edad</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.edad2}} años</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Fecha de nacimiento</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.fechan2 | date: 'dd-MM-yyyy' }}</h6>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="ordersN.numChil == 3">
        <ion-row>
          <ion-col col-6>
            <h6>Nombre</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.nombre1}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Apellido paterno</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.apellidop1}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Apellido materno</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.apellidom1}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Edad</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.edad1}} años</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Fecha de nacimiento</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.fechan1 | date: 'dd-MM-yyyy' }}</h6>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            <h6>Nombre</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.nombre2}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Apellido paterno</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.apellidop2}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Apellido materno</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.apellidom2}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Edad</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.edad2}} años</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Fecha de nacimiento</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.fechan2 | date: 'dd-MM-yyyy' }}</h6>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>
            <h6>Nombre</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.nombre3}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Apellido paterno</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.apellidop3}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Apellido materno</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.apellidom3}}</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Edad</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.edad3}} años</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>Fecha de nacimiento</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{ordersN.fechan3 | date: 'dd-MM-yyyy' }}</h6>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col col-6>
          <h6>Información adicional</h6>
        </ion-col>
        <ion-col col-6>
          <h6 style="font-weight:normal">{{ordersN.note}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <div text-center text-uppercase>
            <h3>Domicilio del cuidado</h3>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h6>Ciudad</h6>
        </ion-col>
        <ion-col col-6>
          <h6 style="font-weight:normal">{{ordersN.ciudad}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h6>Delegación</h6>
        </ion-col>
        <ion-col col-6>
          <h6 style="font-weight:normal">{{ordersN.delegacion}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h6>Colonia</h6>
        </ion-col>
        <ion-col col-6>
          <h6 style="font-weight:normal">{{ordersN.colonia}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h6>Calle</h6>
        </ion-col>
        <ion-col col-6>
          <h6 style="font-weight:normal">{{ordersN.calle}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h6>Número exterior</h6>
        </ion-col>
        <ion-col col-6>
          <h6 style="font-weight:normal">{{ordersN.numEx}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h6>Número interior</h6>
        </ion-col>
        <ion-col col-6>
          <h6 style="font-weight:normal">{{ordersN.numIn}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <h6>Código postal</h6>
        </ion-col>
        <ion-col col-6>
          <h6 style="font-weight:normal">{{ordersN.cp}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 class="movil">
          <h6>Teléfono celular</h6>
        </ion-col>
        <ion-col col-6>
          <button ion-button small color="dark" (click)="call(ordersN.movil)">Contactar</button>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col col-6>
          <h6>Total</h6>
        </ion-col>
        <ion-col col-6>
          <h6><b>${{ordersN.costo}}</b></h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <button ion-button block color="dark" (click)="modalId(userId)">
            <ion-icon class="ion-icon" name="contact" md="md-contact"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block color="dark" (click)="modalComprobante(userId)">
            <ion-icon class="ion-icon" name="paper" md="md-paper"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
