<ion-header>

  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>cuidado en curso</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="type == 0">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <img src="{{nanyImage.screenshot1}}" style="width:90%;border-radius:50%;">
        </ion-col>
        <!-- <ion-col col-4>
          <div text-center>
            <ion-icon ios="ios-camera" style="color:#505050;font-size:60px;"></ion-icon>
          </div>
        </ion-col> -->
        <ion-col col-6>
          <div text-center (click)="call('911')">
            <img src="https://firebasestorage.googleapis.com/v0/b/nannaapp-1e22e.appspot.com/o/alarm.png?alt=media&token=f910dd5f-e7c9-46b2-8bfa-28a65a9faa09" style="width:90%;border-radius:50%;">
          </div>
        </ion-col>
      </ion-row>
      <br><br>
      <ion-row>
        <ion-col col-12>
          <div  text-center>
            <h4>{{nannyP.nickname}}  es tu nanny de la guarda.</h4>
          </div>
        </ion-col>
      </ion-row>
      <br><br>
      <ion-row>
        <ion-col col-6>
            <button ion-button block style="background-color: #696969"  (click)="goToChat(usuario.displayName)">Enviar mensaje</button>
        </ion-col>
        <ion-col col-6>
            <button ion-button block style="background-color: #696969" (click)="call()">Llamar nanny</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button ion-button block style="background-color: #696969" (click)="modal_detallesU(this.nanyId, this.userId, this.key)">Detalles</button>
        </ion-col>
      </ion-row>
      <br><br>
      <!-- <ion-row>
        <ion-col col-6>
          <button ion-button block style="background-color: #696969">Solicitar foto</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block style="background-color: #696969">Solicitar video</button>
        </ion-col>
      </ion-row>
      <br><br>
      <ion-row>
        <ion-col col-6>
          <button ion-button block style="background-color: #696969">Agregar horas</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block style="background-color: #696969">Geolocalización</button>
        </ion-col>
      </ion-row>
      <br><br>
      <ion-row>
        <ion-col col-12>
          <button ion-button block style="background-color: #696969">Finalizar cuidado</button>
        </ion-col>
      </ion-row> -->
      <div>
        <ion-item class="no-bottom-border item">
          <h1 text-center color="primary" class="timer-button timer-text">{{timer.displayTime}}</h1>
        </ion-item>
        <!-- <ion-fab bottom left *ngIf="timer.runTimer && timer.hasStarted && !timer.hasFinished">
          <button ion-fab color="primary" (click)="pauseTimer()">
        <ion-icon name="pause"></ion-icon>
        </button>
        </ion-fab> -->
        <!-- <ion-fab bottom left *ngIf="!timer.runTimer && timer.hasStarted && !timer.hasFinished">
          <button ion-fab color="primary" (click)="resumeTimer()">
      <ion-icon name="play"></ion-icon>
      </button>
        </ion-fab> -->
        <ion-fab bottom left *ngIf="!timer.hasStarted">
          <button ion-fab color="primary" (click)="startTimer()" item-right>
      <ion-icon name="play"></ion-icon>
      </button>
        </ion-fab>

        <!-- <ion-fab bottom right *ngIf="!timer.runTimer && (timer.hasStarted || timer.hasFinished) || timer.hasFinished">
          <button ion-fab color="danger" (click)="initTimer()" item-left>
            <ion-icon name="refresh"></ion-icon>
          </button>
        </ion-fab> -->
      </div>
    </ion-grid>
  </div>

  <div *ngIf="type == 1">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <img src="{{usuario.foto}}?type=large&width=720&height=720" style="width:90%;border-radius:50%;">
        </ion-col>
        <!-- <ion-col col-4>
          <div text-center>
            <ion-icon ios="ios-camera" style="color:#505050;font-size:60px;"></ion-icon>
          </div>
        </ion-col> -->
        <ion-col col-6>
          <div text-center (click)="call('911')">
            <img src="https://firebasestorage.googleapis.com/v0/b/nannaapp-1e22e.appspot.com/o/alarm.png?alt=media&token=c235bd66-3fad-42e0-993a-21334ea6412a" style="width:90%;border-radius:50%;">
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-12>
            <div text-center>
              <h6>{{usuario.name}}</h6>
            </div>
          </ion-col>
      </ion-row>
      <br><br>
      <ion-row>
        <ion-col col-6>
            <button ion-button block style="background-color: #696969" (click)="goToChat(usuario.displayName)">Enviar mensaje</button>
        </ion-col>
        <ion-col col-6>
            <button ion-button block style="background-color: #696969" (click)="call(ordersN.movil)">Llamar a usuario</button>
        </ion-col>
      </ion-row>
      <br><br>
      <!-- <ion-row>
        <ion-col col-6>
          <button ion-button block style="background-color: #696969">Solicitar foto</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block style="background-color: #696969">Solicitar video</button>
        </ion-col>
      </ion-row>
      <br><br>
      <ion-row>
        <ion-col col-6>
          <button ion-button block style="background-color: #696969">Agregar horas</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block style="background-color: #696969">Geolocalización</button>
        </ion-col>
      </ion-row> -->
      <br><br>
      <ion-row>
        <ion-col col-12>
          <button ion-button block style="background-color: #696969" (click)="endService(key,ordersN.idUser,ordersN.idPlayerUser)">Finalizar cuidado</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div>
      <ion-item class="no-bottom-border item">
        <h1 text-center color="primary" class="timer-button timer-text">{{timer.displayTime}}</h1>
      </ion-item>

      <ion-fab bottom left *ngIf="!timer.hasStarted">
        <button ion-fab color="primary" (click)="startTimer()" item-right>
          <ion-icon name="play"></ion-icon>
        </button>
      </ion-fab>
    </div>
  </div>
</ion-content>
