
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle hideBackButton="true">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div text-center text-wrap>
        preguntas frecuentes
      </div>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list no-lines>
    <ion-item *ngFor="let item of items" class="item item-text-wrap">
      <div [class]="isItemShown(item) ? 'item-expand active' : 'item-expand inactive'" text-wrap>
        <h2>{{ item.title }}</h2>
        <p text-justify>{{ item.text }}</p>
      </div>
      <div (click)="toggleItem(item)" class="item-expand-footer">
        <i [class]="isItemShown(item) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
        {{ isItemShown(item) ? 'Ver menos' : 'Ver más' }}
      </div>
    </ion-item>
  </ion-list>
  <p text-justify>Si tienes alguna duda, solicitud o comentario que no esté dentro de este cuestionario, por favor contáctanos para atenderte a la brevedad y brindarte un servicio a la medida</p>
</ion-content>
