<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <div text-center>
          <img src="{{usuario.foto}}?type=large&width=720&height=720" style="width:50%;border-radius:50%;">
        </div>
      </ion-col>
    </ion-row>
    <br><br>
    <ion-row>
      <ion-col col-6>
        <h6><b>Nombre</b></h6>
      </ion-col>
      <ion-col col-6>
        <div text-right>
          <h6 style="font-weight:normal">{{usuario.displayName}}</h6>
        </div>
      </ion-col>
    </ion-row>
    <br><br>
    <ion-row>
      <ion-col col-8>
        <h6><b>Información</b></h6>
      </ion-col>
      <ion-col col-4>
        <div text-center (click)="goInfo()">
          <ion-icon name="clipboard" md="md-clipboard"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <!--<ion-row>
      <ion-col col-8>
        <h6><b>Código QR</b></h6>
      </ion-col>
      
      <ion-col col-4>
         <div text-center (click)="encode()">
          <ion-icon name="qr-scanner" md="md-qr-scanner"></ion-icon>
        </div> 
        <div text-center></div>></div>
          <ion-icon name="qr-scanner" md="md-qr-scanner"></ion-icon>
        </div>
      </ion-col>
      <ion-col col-12>
        <div text-center *ngIf="scannedData.text">
          <ion-input type="text" [(ngModel)]="encodeText"></ion-input>
          <span>Gracias por utilizar el código: <br> {{scannedData.text}}</span>
        </div>
        <div *ngIf="CodigoPromo.text == mn">
          <div text-center>
            Cuentas con $280.00 en tu proximo cuidado.
          </div>
        </div>
      </ion-col>
      
    </ion-row>-->
    <br><br>
    <ion-row>
      <ion-col col-8>
        <h6><b>Activar notificaciones</b></h6>
      </ion-col>
      <ion-col col-4>
        <div text-center (click)="startN(idPlayer)">
          <ion-icon name="notifications" md="md-notifications"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
  <!-- <div #map id="map"></div> -->
</ion-content>
