
<ion-header>

  <ion-navbar>
    <ion-title>{{category}}</ion-title>
    
  </ion-navbar>
 
</ion-header>


<ion-content padding>

  <div *ngIf="data == false">
    <div text-center>
      Completa tus datos personales para poder solicitar un cuidado. <br>
      <button  ion-button (click)="goToInfo()" block color="dark"><ion-icon ios="ios-contact" md="md-contact"></ion-icon></button>
    </div>
  </div>
  <!--<div>
          <button ion-fab (click)="filterBy()"><ion-icon ios="ios-reorder" md="md-reorder"></ion-icon></button>
  </div>
  -->
          <div *ngIf="category == 'traditional'">
              <div *ngIf="data != false">
                  <ion-grid class="card-background-page">
                    <ion-row>
              <ion-col col-6 *ngFor="let item of itemsTraditional | async">
                
                <div *ngIf="item != null">
                  <div>
                    <br><br>
                    <ion-card >
                      <div *ngFor="let itemImage of itemsImage | async">
                      <div *ngIf="item.key == itemImage.key">
                        <ion-card class="type">
                            <img src="{{itemImage.screenshot1}}" (click)="nanny(item.key)" style="border-radius:0px;"/>
                          <!--<div class="card-title">{{item.tarifa}}</div>-->
                        </ion-card>
                      </div>
                      </div>
                      <ion-card-content>
                        <ion-card-title>
                          <div text-center>
                            <h3 style="color:#e2c81f"><b>{{item.nickname}}</b></h3>
                          </div>
                        </ion-card-title>
                      </ion-card-content>
                    </ion-card>
                </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
      <!--<ion-fab top right>
        <button ion-fab color="traditional" (click)="filterBy()">
          <div *ngIf="filterNum == 1">
            <img src="./assets/imgs/alphabet.png" style="vertical-align: middle; align-items: center" />
          </div>
          <div *ngIf="filterNum == 0">
            <img src="./assets/imgs/map.png"  style="vertical-align: middle; align-items: center"/>
          </div>
        </button>
      </ion-fab>-->
      
  <div *ngIf="category == 'dream'">
      <div *ngIf="data != false">
          <ion-grid class="card-background-page">
            <ion-row>
      <ion-col col-6 *ngFor="let item of itemsDream | async">
        
        <div *ngIf="item != null">
          <div>
            <ion-card >
              <div *ngFor="let itemImage of itemsImage | async">
              <div *ngIf="item.key == itemImage.key">
                <ion-card class="type">
                    <img src="{{itemImage.screenshot1}}" (click)="nanny(item.key)" style="border-radius:0px;"/>
                  <!--<div class="card-title">{{item.tarifa}}</div>-->
                </ion-card>
              </div>
              </div>
              <ion-card-content>
                <ion-card-title>
                  <div text-center>
                    <h3 style="color:#8a00ff"><b>{{item.nickname}}</b></h3>
                  </div>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
        </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</div>
<div *ngIf="category == 'special'">
    <div *ngIf="data != false">
        <ion-grid class="card-background-page">
          <ion-row>
    <ion-col col-6 *ngFor="let item of itemsSpecial | async">
      
      <div *ngIf="item != null">
        <div>
          <ion-card >
            <div *ngFor="let itemImage of itemsImage | async">
            <div *ngIf="item.key == itemImage.key">
              <ion-card class="type">
                  <img src="{{itemImage.screenshot1}}" (click)="nanny(item.key)" style="border-radius:0px;"/>
                <!--<div class="card-title">{{item.tarifa}}</div>-->
              </ion-card>
            </div>
            </div>
            <ion-card-content>
              <ion-card-title>
                <div text-center>
                  <h3 style="color:#008aff"><b>{{item.nickname}}</b></h3>
                </div>
              </ion-card-title>
            </ion-card-content>
          </ion-card>
      </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</div>
</div>
<div *ngIf="category == 'grand'">
    <div *ngIf="data != false">
        <ion-grid class="card-background-page">
          <ion-row>
    <ion-col col-6 *ngFor="let item of itemsGrand | async">
      
      <div *ngIf="item != null">
        <div>
          <ion-card >
            <div *ngFor="let itemImage of itemsImage | async">
            <div *ngIf="item.key == itemImage.key">
              <ion-card class="type">
                  <img src="{{itemImage.screenshot1}}" (click)="nanny(item.key)" style="border-radius:0px;"/>
                <!--<div class="card-title">{{item.tarifa}}</div>-->
              </ion-card>
            </div>
            </div>
            <ion-card-content>
              <ion-card-title>
                <div text-center>
                  <h3 style="color:#ff9100"><b>{{item.nickname}}</b></h3>
                </div>
              </ion-card-title>
            </ion-card-content>
          </ion-card>
      </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</div>
</div>
<div *ngIf="category == 'trip'">
    <div *ngIf="data != false">
        <ion-grid class="card-background-page">
          <ion-row>
    <ion-col col-6 *ngFor="let item of itemsTrip | async">
      
      <div *ngIf="item != null">
        <div>
          <ion-card >
            <div *ngFor="let itemImage of itemsImage | async">
            <div *ngIf="item.key == itemImage.key">
              <ion-card class="type">
                  <img src="{{itemImage.screenshot1}}" (click)="nanny(item.key)" style="border-radius:0px;"/>
                <div class="card-title">{{item.tarifa}}</div>
              </ion-card>
            </div>
            </div>
            <ion-card-content>
              <ion-card-title>
                <div text-center>
                  <h3 style="color:#97bb2c"><b>{{item.nickname}}</b></h3>
                </div>
              </ion-card-title>
            </ion-card-content>
          </ion-card>
      </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</div>
</div>

<div *ngIf="category == 'day'">
    <div *ngIf="data != false">
        <ion-grid class="card-background-page">
          <ion-row>
    <ion-col col-6 *ngFor="let item of itemsStand | async">
      
      <div *ngIf="item != null">
        <div>
          <ion-card >
            <div *ngFor="let itemImage of itemsImage | async">
            <div *ngIf="item.key == itemImage.key">
              <ion-card class="type">
                  <img src="{{itemImage.screenshot1}}" (click)="nanny(item.key)" style="border-radius:0px;"/>
                <!--<div class="card-title">{{item.tarifa}}</div>-->
              </ion-card>
            </div>
            </div>
            <ion-card-content>
              <ion-card-title>
                <div text-center>
                  <h3 style="color:#ff9100"><b>{{item.nickname}}</b></h3>
                </div>
              </ion-card-title>
            </ion-card-content>
          </ion-card>
      </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</div>
</div>
<!--
<div *ngIf="category == 'week'">
    <div *ngIf="data != false">
        <ion-grid class="card-background-page">
          <ion-row>
    <ion-col col-6 *ngFor="let item of itemsStandSemana | async">
      
      <div *ngIf="item != null">
        <div>
          <ion-card >
            <div *ngFor="let itemImage of itemsImage | async">
            <div *ngIf="item.key == itemImage.key">
              <ion-card class="type">
                  <img src="{{itemImage.screenshot1}}" (click)="nanny(item.key)" style="border-radius:0px;"/>
                <div class="card-title">{{item.tarifa}}</div>
              </ion-card>
            </div>
            </div>
            <ion-card-content>
              <ion-card-title>
                <div text-center>
                  <h3 style="color:#ff006f"><b>{{item.nickname}}</b></h3>
                </div>
              </ion-card-title>
            </ion-card-content>
          </ion-card>
      </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</div>
</div>
-->
<div *ngIf="category == 'stand'">
    <div *ngIf="data != false">
        <ion-grid class="card-background-page">
          <ion-row>
    <ion-col col-6 *ngFor="let item of itemsStand | async">
      
      <div *ngIf="item != null">
        <div>
          <ion-card >
            <div *ngFor="let itemImage of itemsImage | async">
            <div *ngIf="item.key == itemImage.key">
              <ion-card class="type">
                  <img src="{{itemImage.screenshot1}}" (click)="nanny(item.key)" style="border-radius:0px;"/>
                <!--<div class="card-title">{{item.tarifa}}</div>-->
              </ion-card>
            </div>
            </div>
            <ion-card-content>
              <ion-card-title>
                <div text-center>
                  <h3 style="color:#ff006f"><b>{{item.nickname}}</b></h3>
                </div>
              </ion-card-title>
            </ion-card-content>
          </ion-card>
      </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</div>
</div>

<div *ngIf="category == 'party'">
    <div *ngIf="data != false">
        <ion-grid class="card-background-page">
          <ion-row>
    <ion-col col-6 *ngFor="let item of itemsParty | async">
      
      <div *ngIf="item != null">
        <div>
          <ion-card >
            <div *ngFor="let itemImage of itemsImage | async">
            <div *ngIf="item.key == itemImage.key">
              <ion-card class="type">
                  <img src="{{itemImage.screenshot1}}" (click)="nanny(item.key)" style="border-radius:0px;"/>
                <!--<div class="card-title">{{item.tarifa}}</div>-->
              </ion-card>
            </div>
            </div>
            <ion-card-content>
              <ion-card-title>
                <div text-center>
                  <h3 style="color:#ff7800"><b>{{item.nickname}}</b></h3>
                </div>
              </ion-card-title>
            </ion-card-content>
          </ion-card>
      </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</div>
</div>

</ion-content>
