
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>información</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-row>
      <ion-col col-6>
        <h6><b>Ciudad</b></h6>
      </ion-col>
      <ion-col col-6>
        <h6 style="font-weight:normal">{{usuario.ciudad}}</h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <h6><b>Delegación</b></h6>
      </ion-col>
      <ion-col col-6>
        <h6 style="font-weight:normal">{{usuario.delegacion}}</h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <h6><b>Colonia</b></h6>
      </ion-col>
      <ion-col col-6>
        <h6 style="font-weight:normal">{{usuario.colonia}}</h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <h6><b>Calle</b></h6>
      </ion-col>
      <ion-col col-6>
        <h6 style="font-weight:normal">{{usuario.calle}}</h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <h6><b>Número exterior</b></h6>
      </ion-col>
      <ion-col col-6>
        <h6 style="font-weight:normal">{{usuario.numEx}}</h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <h6><b>Número interior</b></h6>
      </ion-col>
      <ion-col col-6>
        <h6 style="font-weight:normal">{{usuario.numIn}}</h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <h6><b>Código postal</b></h6>
      </ion-col>
      <ion-col col-6>
        <h6 style="font-weight:normal">{{usuario.cp}}</h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <h6><b>Teléfono celular</b></h6>
      </ion-col>
      <ion-col col-6>
        <h6 style="font-weight:normal">{{usuario.movil}}</h6>
      </ion-col>
    </ion-row>

    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <button ion-button block color="dark" (click)="goInfo()">Editar perfil.</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <br><br>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <h6><b>Identificación oficial</b></h6>
        </ion-col>
        <ion-col col-6>
          <div text-center>
            <ion-icon class="ion-icon" name="contact" md="md-contact" (click)="modalId()"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col col-6>
          <h6><b>Comprob. de domicilio</b></h6>
        </ion-col>
        <ion-col col-6>
          <div text-center >
            <ion-icon class="ion-icon" name="paper" md="md-paper" (click)="modalComprobante()"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
