<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reservaciones</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="usuario.user == 0">
    <div *ngFor="let orderU of ordersU | async">
      <div *ngIf="orderU.data.status == 0 || orderU.data.status == 1">
        <ion-card>
          <ion-card-header>
            <ion-title>
              <ion-grid>
                <!-- <ion-row>
                  <ion-col col-4></ion-col>
                  <ion-col col-4>
                      Estatus
                  </ion-col>
                  <ion-col col-4></ion-col>
                </ion-row> -->
                <ion-row>
                  <ion-col col-12>
                    <div *ngIf="orderU.data.pago == undefined">
                      <h2 ion-text color="danger">Pendiente de pago</h2>
                    </div>
                    <div *ngIf="orderU.data.status == 0 && orderU.data.pago != undefined">
                      <h2 ion-text color="dark">Pendiente</h2>
                    </div>
                    <div *ngIf="orderU.data.status == 1">
                      <h2 ion-text color="secondary">Aceptado</h2>
                    </div>
                    <div *ngIf="orderU.data.status == 2">
                      <button ion-button round color="secondary" (click)="goService(orderU.key, orderU.idNanny, orderU.idUser)">En curso</button>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <div text-wrap *ngFor="let item of items | async">
                      <div *ngIf="item.key == orderU.data.idNanny">
                        {{item.title}}
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col col-12>
                  <div text-center>
                    <p style="text-transform: uppercase;" *ngIf="orderU.data.category!='stand'">
                      Reservado para el día {{ orderU.data.myDate | date: 'dd-MM-yyyy' }} a las {{ orderU.data.myTime }}.
                    </p>
                    <p style="text-transform: uppercase;" *ngIf="orderU.data.category=='stand'">
                        Stand {{orderU.data.horas}} horas.
                      </p>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>
                  <button ion-button block color="dark" (click)="modal_detallesU(orderU.key, orderU.data.idNanny)">Detalles</button>
                </ion-col>
                <ion-col col-6>
                  <button ion-button block color="danger" (click)="cancelService(orderU.key,orderU.data.idUser,orderU.data.idNanny,orderU.data.idPlayerNanny,0)">Cancelar</button>
                </ion-col>
                <ion-col col-12 *ngIf="orderU.data.pago == undefined">
                  <button ion-button block color="default" (click)="goToPaymet(orderU.data.idNanny,orderU.data.idUser,orderU.key)">Pagar</button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
  <div *ngIf="usuario.user == 1">
    <div *ngFor="let orderN of ordersN | async">
      <div *ngIf="orderN.data.status == 0 || orderN.data.status == 1">
        <ion-card>
          <ion-card-header>
            <ion-title>
              <div text-wrap *ngFor="let us of this.usua | async">
                <div *ngIf="orderN.data.idUser == us.key">
                  {{us.meta.displayName }}
                </div>
              </div>
            </ion-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col col-12>
                  <div *ngIf="orderN.data.status == 2 && orderN.data.pago != undefined">
                    <button ion-button round color="secondary" (click)="goService(orderN.key, orderN.idNanny, orderU.idUser)">En curso</button>
                  </div>
                  <div *ngIf="orderN.data.pago == undefined">
                    <h2 ion-text color="danger">Pago pendiente</h2>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12>
                  <div text-left>
                    <p style="text-transform: uppercase;">
                      Reservado para el día {{orderN.data.myDate | date: 'dd-MM-yyyy'}} a las {{orderN.data.myTime}}.
                    </p>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-4>
                  <div text-wrap *ngFor="let us of this.usua | async">
                    <div *ngIf="orderN.data.idUser == us.key">
                      <button ion-button block color="dark" (click)="modal_detalles(orderN.key,us.key)">Detalles</button>
                    </div>
                  </div>
                </ion-col>
                <ion-col col-4>
                  <div *ngIf="orderN.data.status == 0">
                    <div text-wrap *ngFor="let us of this.usua | async">
                      <div *ngIf="orderN.data.idUser == us.key">
                        <button ion-button block color="secondary" (click)="aceptService(orderN.key,orderN.data.idUser,orderN.data.idPlayerUser,orderN.data.pago)">Aceptar</button>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="orderN.data.status == 1">
                    <div text-wrap *ngFor="let us of this.usua | async">
                      <div *ngIf="orderN.data.idUser == us.key">
                        <button ion-button block color="dark" (click)="startService(orderN.key,orderN.data.idUser,orderN.data.idPlayerUser,orderN.data.timeCuidado)">Comenzar</button>
                      </div>
                    </div>
                  </div>
                </ion-col>
                <ion-col col-4>
                  <div text-wrap *ngFor="let us of this.usua | async">
                    <div *ngIf="orderN.data.idUser == us.key">
                      <button ion-button block color="danger" (click)="cancelService(orderN.key,orderN.data.idUser,orderN.data.idNanny,orderN.data.idPlayerUser,1)">Cancelar</button>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
<div *ngIf="home == 'home'">
  <ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <div (click)="goToHome()" text-center>
              <ion-icon ios="ios-home" md="md-home"></ion-icon>
              NANNAPP
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
</div>
