<ion-header>

  <ion-navbar>
    <ion-title>chat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="chatMessages">
      <div *ngFor="let message of messages | async">
        <div [class]="message.idUser == userId ? 'innerMessage messageRight' : 'innerMessage messageLeft'">
          <div class="username">
            {{message.name}}
          </div>
          <div class="messageContent">
            <div *ngIf="message.type == 0">
              {{message.mensaje}}
            </div>
            <div *ngIf="message.type == 1">
              <img src="{{message.mensaje}}" width="150" height="150" (click)="verImagen(message.mensaje)" >
            </div>
          </div>
          <div text-right>
            {{message.time | date:'H:mm'}}
          </div>
        </div>
      </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div id="footer">
      <div class="elem">
        <ion-input type="text" [(ngModel)]="message">
        </ion-input>
      </div>
      <div class="elemt" *ngIf="user == 1">
        <button ion-fab icon-only color="dark" (click)="mostrar_camara(ordersN.idPlayerUser)"> <ion-icon ios="ios-camera" md="md-camera"></ion-icon> </button>
      </div>
      <div class="elemt" *ngIf="user == 0">
        <button ion-fab icon-only color="dark" (click)="mostrar_camara(ordersU.idPlayerNanny)"> <ion-icon ios="ios-camera" md="md-camera"></ion-icon> </button>
      </div>
      <div class="elem" *ngIf="user == 0">
        <button ion-fab icon-only color="dark" (click)="sendMessage(ordersU.idPlayerNanny)"><ion-icon name="send"></ion-icon> </button>
      </div>
      <div class="elem" *ngIf="user == 1">
        <button ion-fab icon-only color="dark" (click)="sendMessage(ordersN.idPlayerUser)"><ion-icon name="send"></ion-icon> </button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
