<ion-header>

  <ion-navbar>
    <button ion-button menuToggle hideBackButton="true">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contáctanos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label floating color="dark">Asunto</ion-label>
    <ion-input type="text" [(ngModel)]="data.asunto"  name="asunto"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating color="dark">Mensaje</ion-label>
    <ion-textarea name="mensaje"
    [(ngModel)]="data.mensaje" name="mensaje" autocomplete="on" autocorrect="on" rows="5" cols="50"></ion-textarea>
  </ion-item>
  <ion-col col-12>
    <button ion-button block color="dark" (click)="sendEmail()">Enviar Email</button>
  </ion-col>
  <br><br>
  <ion-col col-12>
    <button ion-button block color="dark" (click)="call('5521296063')">Hablar a Nannapp</button>
  </ion-col>
</ion-content>
