page-home {

  .text {
  font-size:12px;
  font-family:helvetica;
  font-weight:bold;
  color:#461f43;
  text-transform:uppercase;
}

ion-navbar.toolbar {
  min-height: 65px;
}

.parpadea {

  animation-name: parpadeo;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.doce{
  color: #8a00ff;
}

.academyc{
  color: #8a1e25;
}

.special{
  color: #008aff;
}

.grand{
  color: #860133;
}

.trip_int{
  color: #97bb2c;
}

.party{
  color: #ff7800;
}

}
