<ion-header style="background-color: rgb(255, 255, 255);">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
        <img src="./assets/imgs/nannapnegro.png" width="50" height="50">
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="this.usuario.user == 0">
    <ion-grid>

<!--stand menu-->
<div *ngIf="this.usuario.standHours > 0">
        <br>
        <ion-row justify-content-center align-items-center style="height: 100%">
          <ion-col col-6>
            <div class="products card" style="background: transparent !important;" text-center>
              <div class="products products-clear item item-stable item-image" style="background: transparent !important;">
                <img style="max-width:100px !important;" src="http://caudillom.com/stand2.png"(click)="goRequestForm(this.usuario.standNanny,nannyP.idPlayer,idPlayerUser)" />
              </div>
              <div class="products products-clear item item-stable item-text-wrap" style="background: transparent !important;" text-center>
                <span id="current-price" style="color:#505050;font-size: 20px;">
                  Solicitar cuidado.
                </span>
              </div>
            </div>
          </ion-col>
          <ion-col col-6>
            <div text-center>
              
              <p style="color:#ff006f">
                Paquete contratado.
              </p>
              <p>Horas restantes: {{usuario.standHours}}</p>
              <p>Nanny: {{nannyP.nickname}}</p>
              <!--<p>Vigencia: 20/05/19</p>
              
              <p>Nanny contratada: </p><p>{{nannyP.title}}</p>-->
              
            </div>
          </ion-col>
        </ion-row>
</div>

      <ion-row>
        <ion-col col-12>
          <div no-padding>
            <ion-slides autoplay="1000" speed="500" pager="true">
                
              <div *ngIf="bannerImage.banner01!='.'">
                
              <ion-slide>
                    <img src="{{bannerImage.banner01}}">
                </ion-slide>
                </div>
                <div *ngIf="bannerImage.banner02!='.'">
                
                <ion-slide>
                  <img src="{{bannerImage.banner02}}">
                </ion-slide>
                </div>
                <div *ngIf="bannerImage.banner03!='.'">
                
                <ion-slide>
                 <img src="{{bannerImage.banner03}}">
                </ion-slide>
                </div>
                <div *ngIf="bannerImage.banner04!='.'">
                
                <ion-slide>
                  <img src="{{bannerImage.banner04}}">
                </ion-slide>
                </div>
                <div *ngIf="bannerImage.banner05!='.'">
                
                <ion-slide>
                  <img src="{{bannerImage.banner05}}">
                </ion-slide>
                </div>
                <div *ngIf="bannerImage.banner06!='.'">
                
                <ion-slide>
                  <img src="{{bannerImage.banner06}}">
                </ion-slide>
                </div>
                <div *ngIf="bannerImage.banner07!='.'">
                
                <ion-slide>
                  <img src="{{bannerImage.banner07}}">
                </ion-slide>
                </div>
                <div *ngIf="bannerImage.banner08!='.'">
                
                <ion-slide>
                  <img src="{{bannerImage.banner08}}">
                </ion-slide>
                </div>
                <div *ngIf="bannerImage.banner09!='.'">
                <ion-slide>
                 <img src="{{bannerImage.banner09}}">
                 </ion-slide>
                </div>
                 <div *ngIf="bannerImage.banner10!='.'">
                 <ion-slide>
                   <img src="{{bannerImage.banner10}}">
                 </ion-slide>
                </div>
            </ion-slides>
          </div>
        </ion-col>
      </ion-row>

      <br>
      <ion-row justify-content-center align-items-center style="height: 100%">
        <ion-col col-6>
          <div class="products card" style="background: transparent !important;" text-center>
            <div class="products products-clear item item-stable item-image" style="background: transparent !important;">
              <img style="max-width:100px !important;" src="http://caudillom.com/traditional3.png" (click)="goToCategory('traditional')"/>
            </div>
            <div class="products products-clear item item-stable item-text-wrap" style="background: transparent !important;">
              <span id="current-price" style="color:#505050;font-size: 20px;">
                Traditional
              </span>
            </div>
          </div>
        </ion-col>
        <ion-col col-6>
          <div text-center>
            <p style="color:#e2c81f">Tarifa por hora.</p>
            <p style="font-size: 12px;"><!--BASIC &nbsp;--> <strong>{{tarifas.traditionalBasic | currency : "MXN" }}</strong> </p>
            <!--<p style="font-size: 12px;">LUXE  &nbsp;&nbsp;&nbsp; <strong>{{tarifas.traditionalLuxe | currency : "MXN" }}</strong> </p>
          -->
            </div>
        </ion-col>
      </ion-row>

      <!--
      <br>
      <ion-row justify-content-center align-items-center style="height: 100%">
        <ion-col col-6>
          <div class="products card" style="background: transparent !important;" text-center>
            <div class="products products-clear item item-stable item-image" style="background: transparent !important;">
              <lazy-img style="max-width:100px !important;" inputSrc="./assets/imgs/party.png"(click)="goToCategory('day')"></lazy-img>
            </div>
            <div class="products products-clear item item-stable item-text-wrap" style="background: transparent !important;" text-center>
              <span id="current-price" style="color:#505050;font-size: 20px;">
                Day
              </span>
            </div>
          </div>
        </ion-col>
        <ion-col col-6>
          <div text-center>
            <p>Paquete 1 día</p>
            <p style="color:#ff9100">
              Paquete de hasta 12 horas <br>a partir de las 7 horas.
            </p>
            <p style="font-size: 12px;">
              BASIC &nbsp; <strong>${{tarifas.standBasic}} MXN</strong>
            </p>
            <p style="color:#737373;font-size:10px;">
              Costo regular: <strong>${{tarifas.traditionalBasic*12}} MXN</strong><br>
              Ahorro: ${{(tarifas.traditionalBasic*12)-tarifas.standBasic}} MXN
            </p>
            <p style="font-size: 12px;">
              LUXE &nbsp; <strong>${{tarifas.standLuxe}} MXN</strong>
            </p>
            <p style="color:#737373;font-size: 10px;">
              Costo regular: <strong>${{(tarifas.traditionalLuxe*12)}} MXN</strong><br>
              Ahorro: ${{(tarifas.traditionalLuxe*12)-tarifas.standLuxe}} MXN
            </p>
          </div>
        </ion-col>
      </ion-row>

      <br>
      <ion-row justify-content-center align-items-center style="height: 100%">
        <ion-col col-6>
          <div class="products card" style="background: transparent !important;" text-center>
            <div class="products products-clear item item-stable item-image" style="background: transparent !important;">
              <lazy-img style="max-width:100px !important;" inputSrc="./assets/imgs/stand2.png"(click)="goToCategory('week')"></lazy-img>
            </div>
            <div class="products products-clear item item-stable item-text-wrap" style="background: transparent !important;" text-center>
              <span id="current-price" style="color:#505050;font-size: 20px;">
                Week
              </span>
            </div>
          </div>
        </ion-col>
        <ion-col col-6>
          <div text-center>
            <p>Nanny recurrente <br> Paquete 1 semana</p>
            <p style="color:#ff006f">
              Paquete de hasta 50 horas<br> en 1 semana.
            </p>
            <p style="font-size: 12px;">
              BASIC &nbsp; <strong>${{tarifas.semanaBasic}} MXN</strong>
            </p>
            <p style="color:#737373;font-size:10px;">
              Costo regular: <strong>${{tarifas.traditionalBasic*50}} MXN</strong><br>
              Ahorro: ${{(tarifas.traditionalBasic*50)-tarifas.semanaBasic}} MXN
            </p>
            <p style="font-size: 12px;">
              LUXE &nbsp; <strong>${{tarifas.semanaLuxe}} MXN</strong>
            </p>
            <p style="color:#737373;font-size: 10px;">
              Costo regular: <strong>${{tarifas.traditionalLuxe*50}} MXN</strong><br>
              Ahorro: ${{(tarifas.traditionalLuxe*50)-tarifas.semanaLuxe}} MXN
            </p>
          </div>
        </ion-col>
      </ion-row>

      <br>
      <ion-row justify-content-center align-items-center style="height: 100%">
        <ion-col col-6>
          <div class="products card" style="background: transparent !important;" text-center>
            <div class="products products-clear item item-stable item-image" style="background: transparent !important;">
              <lazy-img style="max-width:100px !important;" inputSrc="./assets/imgs/dream2.png" (click)="goToCategory('dream')"></lazy-img>
            </div>
            <div class="products products-clear item item-stable item-text-wrap" style="background: transparent !important;" text-center>
              <span id="current-price" style="color:#505050;font-size: 20px;">
                Dream
              </span>
            </div>
          </div>
        </ion-col>
        <ion-col col-6>
          <div text-center>
            <p>Nanny nocturna</p>
            <p class="doce">Paquete de hasta 12 horas<br>a partir de las <br> 19 horas.</p>
            <p style="font-size: 12px;">
              BASIC &nbsp;&nbsp;<strong>${{tarifas.dreamBasic}} MXN</strong>
              <br><br>
              LUXE  &nbsp;&nbsp;<strong>${{tarifas.dreamLuxe}} MXN</strong>
            </p>
          </div>
        </ion-col>
      </ion-row>

      <br>
      <ion-row justify-content-center align-items-center style="height: 100%">
        <ion-col col-6>
          <div class="products card" style="background: transparent !important;" text-center>
            <div class="products products-clear item item-stable item-image" style="background: transparent !important;">
              <lazy-img style="max-width:100px !important;" inputSrc="./assets/imgs/trip2.png" (click)="goToCategory('trip')"></lazy-img>
            </div>
            <div class="products products-clear item item-stable item-text-wrap" style="background: transparent !important;" text-center>
              <span id="current-price" style="color:#505050;font-size: 20px;">
                Trip
              </span>
            </div>
          </div>
        </ion-col>
        <ion-col col-6>
          <div text-center>
            <p class="trip_int">Nanny para viajes <br>nacionales e internacionales.</p>
            <p>Tarifa por día.</p>
            <p style="font-size: 12px;">
                <strong>${{tarifas.tripNacional}} MXN nacional</strong>
              </p>
              <p style="font-size: 12px;">
                  <strong>${{tarifas.tripInternacional}} MXN internacional</strong>
                </p>
            <p>Tarifa por semana.</p>
            <p style="font-size: 12px;">
              <strong>${{tarifas.tripSemanaNacional}} MXN nacional</strong>
            </p>
            <p style="font-size: 12px;">
                <strong>${{tarifas.tripSemanaInternacional}} MXN internacional</strong>
              </p>
          </div>
        </ion-col>
      </ion-row>

      <br>
      <ion-row justify-content-center align-items-center style="height: 100%">
        <ion-col col-6>
          <div class="products card" style="background: transparent !important;" text-center>
            <div class="products products-clear item item-stable item-image" style="background: transparent !important;">
              <lazy-img style="max-width:100px !important;" inputSrc="./assets/imgs/party.png" (click)="goToCategory('party')"></lazy-img>
            </div>
            <div class="products products-clear item item-stable item-text-wrap" style="background: transparent !important;" text-center>
              <span id="current-price" style="color:#505050;font-size: 20px;">
                Party
              </span>
            </div>
          </div>
        </ion-col>
        <ion-col col-6>
          <div text-center>
            <p class="party">Nannies para eventos.</p>
            <p>Paquete hasta 10 niños por hasta 8 horas.</p>
            <p style="font-size: 12px;">
              <strong>${{tarifas.party10}} MXN</strong>
            </p>
            <p>Paquete hasta 20 niños por hasta 10 horas.</p>
            <p style="font-size: 12px;">
              <strong>${{tarifas.party20}} MXN</strong>
            </p>
          </div>
        </ion-col>
      </ion-row>
    -->
    <div *ngIf="12 > this.usuario.standHours || this.usuario.standHours == undefined">
      <br>
      <ion-row justify-content-center align-items-center style="height: 100%">
        <ion-col col-6>
          <div class="products card" style="background: transparent !important;" text-center>
            <div class="products products-clear item item-stable item-image" style="background: transparent !important;">
              <img style="max-width:100px !important;" src="http://caudillom.com/stand2.png"(click)="goToCategory('stand')"/>
            </div>
            <div class="products products-clear item item-stable item-text-wrap" style="background: transparent !important;" text-center>
              <span id="current-price" style="color:#505050;font-size: 20px;">
                Stand
              </span>
            </div>
          </div>
        </ion-col>
        <ion-col col-6>
          <div text-center>
            <p>Nanny diurna recurrente<br> hasta las 21 horas</p>
            <p style="color:#ff006f">
                50 horas<br> Vigencia: 1 mes.
              </p>
              <p style="font-size: 12px;">
                <!--BASIC &nbsp;--> <strong>{{tarifas.month | currency : "MXN" }} </strong>
              </p>
            <p style="color:#ff006f">
              100 horas<br> Vigencia: 3 meses.
            </p>
            <p style="font-size: 12px;">
              <!--BASIC &nbsp;--> <strong>{{tarifas.standBasic | currency : "MXN" }} </strong>
            </p>
            <!--<p style="color:#737373;font-size:10px;">
              Costo regular: <strong>${{tarifas.traditionalBasic*100}} MXN</strong><br>
              Ahorro: ${{(tarifas.traditionalBasic*100)-tarifas.standBasic}} MXN
            </p>
            <p style="font-size: 12px;">
              LUXE &nbsp; <strong>{{tarifas.standLuxe | currency : "MXN" }}</strong>
            </p>
            <p style="color:#737373;font-size: 10px;">
              Costo regular: <strong>${{tarifas.traditionalLuxe*100}} MXN</strong><br>
              Ahorro: ${{(tarifas.traditionalLuxe*100)-tarifas.standLuxe}} MXN
            </p>-->
          </div>
        </ion-col>
      </ion-row>
    </div>


      <br>
      <ion-row justify-content-center align-items-center style="height: 100%">
        <ion-col col-6>
          <div class="products card" style="background: transparent !important;" text-center>
            <div class="products products-clear item item-stable item-image" style="background: transparent !important;">
              <img style="max-width:100px !important;" src="http://caudillom.com/dream2.png" (click)="goToCategory('dream')"/>
            </div>
            <div class="products products-clear item item-stable item-text-wrap" style="background: transparent !important;" text-center>
              <span id="current-price" style="color:#505050;font-size: 20px;">
                Dream
              </span>
            </div>
          </div>
        </ion-col>
        <ion-col col-6>
          <div text-center>
            <p>Nanny nocturna</p>
            <p class="doce">Paquete de 12 horas<br>a partir de las <br> 19 horas.</p>
            <p style="font-size: 12px;">
              <!--BASIC &nbsp;&nbsp;--><strong>{{tarifas.dreamBasic | currency : "MXN"}}</strong>
             <!-- <br><br>
              LUXE  &nbsp;&nbsp;<strong>{{tarifas.dreamLuxe | currency : "MXN"}} </strong>
            --></p>
          </div>
        </ion-col>
      </ion-row>




      <br>
      <ion-row justify-content-center align-items-center style="height: 100%">
        <ion-col col-6>
          <div class="products card" style="background: transparent !important;" text-center>
            <div class="products products-clear item item-stable item-image" style="background: transparent !important;">
              <img style="max-width:100px !important;" src="http://caudillom.com/special2.png" (click)="goToCategory('special')"/>
            </div>
            <div class="products products-clear item item-stable item-text-wrap" style="background: transparent !important;" text-center>
              <span id="current-price" style="color:#505050;font-size: 20px;">
                Special
              </span>
            </div>
          </div>
        </ion-col>
        <ion-col col-6>
          <div text-center>
            <p class="special">Nanny para niños con capacidades diferentes.</p>
            <p>Tarifa por hora.</p>
            <p style="font-size: 12px;">
              <strong>{{tarifas.special | currency : "MXN"}}</strong>
            </p>
          </div>
        </ion-col>
      </ion-row>

      

      <br>
      <ion-row justify-content-center align-items-center style="height: 100%">
        <ion-col col-6>
          <div class="products card" style="background: transparent !important;" text-center>
            <div class="products products-clear item item-stable item-image" style="background: transparent !important;">
              <img style="max-width:100px !important;" src="http://caudillom.com/party.png" (click)="goToCategory('grand')"/>
            </div>
            <div class="products products-clear item item-stable item-text-wrap" style="background: transparent !important;" text-center>
              <span id="current-price" style="color:#505050;font-size: 20px;">
                Grand
              </span>
            </div>
          </div>
        </ion-col>
        <ion-col col-6>
          <div text-center>
            <p class="party">Nanny para adultos mayores.</p>
            <p>Tarifa por hora.</p>
            <p style="font-size: 12px;">
              <strong>{{tarifas.grand | currency : "MXN"}} </strong>
            </p>
          </div>
        </ion-col>
      </ion-row>
      
      
    </ion-grid>
  </div>
  <div *ngIf="usuario.user == 1">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <div no-padding>
              <ion-slides autoplay="5000" loop="true" speed="500">
                <div *ngIf="bannerImage.bannerN01!='.'">
                
                  <ion-slide>
                        <img src="{{bannerImage.bannerN01}}">
                    </ion-slide>
                    </div>
                    <div *ngIf="bannerImage.bannerN02!='.'">
                    
                    <ion-slide>
                      <img src="{{bannerImage.bannerN02}}">
                    </ion-slide>
                    </div>
                    <div *ngIf="bannerImage.bannerN03!='.'">
                    
                    <ion-slide>
                     <img src="{{bannerImage.bannerN03}}">
                    </ion-slide>
                    </div>
                    <div *ngIf="bannerImage.bannerN04!='.'">
                    
                    <ion-slide>
                      <img src="{{bannerImage.bannerN04}}">
                    </ion-slide>
                    </div>
                    <div *ngIf="bannerImage.bannerN05!='.'">
                    
                    <ion-slide>
                      <img src="{{bannerImage.bannerN05}}">
                    </ion-slide>
                    </div>
                    <div *ngIf="bannerImage.bannerN06!='.'">
                    
                    <ion-slide>
                      <img src="{{bannerImage.bannerN06}}">
                    </ion-slide>
                    </div>
                    <div *ngIf="bannerImage.bannerN07!='.'">
                    
                    <ion-slide>
                      <img src="{{bannerImage.bannerN07}}">
                    </ion-slide>
                    </div>
                    <div *ngIf="bannerImage.bannerN08!='.'">
                    
                    <ion-slide>
                      <img src="{{bannerImage.bannerN08}}">
                    </ion-slide>
                    </div>
                    <div *ngIf="bannerImage.bannerN09!='.'">
                    <ion-slide>
                     <img src="{{bannerImage.bannerN09}}">
                     </ion-slide>
                    </div>
                     <div *ngIf="bannerImage.bannerN10!='.'">
                     <ion-slide>
                       <img src="{{bannerImage.bannerN10}}">
                     </ion-slide>
                    </div>
                </ion-slides>
          </div>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center align-items-center style="height: 100%">
        <ion-col col-12>
          <button ion-button block color="dark" (click)="goToReserved(usuario.product, 'home')">Solicitudes de Cuidado</button>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center align-items-center style="height: 100%">
        <ion-col col-12>
          <button ion-button block color="dark" (click)="goToHistorial(usuario.product, 'home')">Historial</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
