
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>editar información</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="myForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-label floating color="dark">Ciudad<span class="color">*</span></ion-label>
        <ion-select name="ciudad" formControlName="ciudad"
          [(ngModel)]="data.ciudad"
          okText=Aceptar
          cancelText=Cancelar
          (click)="showAlertC()">
          <ion-option value="Ciudad de México">Ciudad de México</ion-option>
          <ion-option value="Estado de México">Estado de México</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating color="dark">Delegación</ion-label>
        <ion-input type="text" name="delegacion" formControlName="delegacion"
        [(ngModel)]="data.delegacion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating color="dark">Colonia<span class="color">*</span></ion-label>
        <ion-input type="text" name="colonia" formControlName="colonia"
        [(ngModel)]="data.colonia"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating color="dark">Calle<span class="color">*</span></ion-label>
        <ion-input type="text" name="calle" formControlName="calle"
        [(ngModel)]="data.calle"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating color="dark">Número exterior<span class="color">*</span></ion-label>
        <ion-input type="text" name="numEx" formControlName="numEx"
        [(ngModel)]="data.numEx"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating color="dark">Número interior</ion-label>
        <ion-input type="text" name="numIn" formControlName="numIn"
        [(ngModel)]="data.numIn"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating color="dark">Código postal<span class="color">*</span></ion-label>
        <ion-input type="number" name="cp" formControlName="cp"
        [(ngModel)]="data.cp"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating color="dark">Teléfono celular<span class="color">*</span></ion-label>
        <ion-input type="number" name="movil" formControlName="movil"
        [(ngModel)]="data.movil"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block type="button" (click)="addInfo()" [disabled]="!myForm.valid" color="dark">Guardar</button>
  </form>
</ion-content>
