
<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>id</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <div *ngIf="data">
        <img src="{{data}}">
      </div>
      <div *ngIf="!data">
          <lazy-img inputSrc="./assets/imgs/ine.png"></lazy-img>
      </div>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col *ngIf="dataUser != 1">
        <button ion-button block icon-left color="dark" (click)="mostrar_camara()"><ion-icon name="camera"></ion-icon>Camara</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
