<ion-header>

  <ion-navbar>
    <ion-title>mi cuidado</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <div text-uppercase text-center>
          <b>Completa el siguiente formulario</b>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-list>
          <form [formGroup]="myForm" novalidate>
            <ion-item>
              <ion-label floating color="dark">Fecha del cuidado<span class="color">*</span></ion-label>
              <ion-datetime displayFormat="DD-MMMM-YYYY" pickerFormat="DD/MMMM/YYYY" [(ngModel)]="data.myDate" name="myDate" formControlName="myDate"
              monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
              monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
              dayNames="domingo, Lunes, Martes, Miercoles, Juves, Viernes, Sabado, Domingo"
              dayShortNames="Dom, Lum, Mar, Mie, Jue, Vie, Sab"
              min={{fechaActual}}
              max=2020-12-31
              yearValues="2019,2020"
              doneText=Aceptar
              cancelText=Cancelar>
            </ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label floating color="dark">Horario<span class="color">*</span></ion-label>
            
            
              <ion-datetime name="myTime" formControlName="myTime"
              displayFormat="HH:mm"
              [(ngModel)]="data.myTime"
              hourValues="7,8,9,10,11,12,13,14,15,16,17,18,19"
              minuteValues="0,5,10,15,20,25,30,35,40,45,50,55"
              doneText=Aceptar
              cancelText=Cancelar
              (click)="showAlert()"
              *ngIf="this.category == 'traditional' || this.category == 'special' || this.category == 'grand' || this.category == 'stand100'"></ion-datetime>
            

            
                <ion-datetime name="myTime" formControlName="myTime"
                displayFormat="HH:mm"
                [(ngModel)]="data.myTime"
                hourValues="19,20,21,22,23"
                minuteValues="0,5,10,15,20,25,30,35,40,45,50,55"
                doneText=Aceptar
                cancelText=Cancelar
                (click)="showAlert()"
                *ngIf="this.category=='dream'"></ion-datetime>
            
          
      </ion-item>



            <div *ngIf="this.category == 'traditional' || this.category == 'special' || this.category == 'grand' || this.category == 'stand100'">
              <ion-item>
                <ion-label floating color="dark">Duración de tu cuidado. (Horas)<span class="color">*</span></ion-label>
                <ion-select name="timeCuidado" formControlName="timeCuidado"
                  [(ngModel)]="data.timeCuidado"
                  okText=Aceptar
                  cancelText=Cancelar>
                  <ion-option value="2">2</ion-option>
                  <ion-option value="3">3</ion-option>
                  <ion-option value="4">4</ion-option>
                  <ion-option value="5">5</ion-option>
                  <ion-option value="6">6</ion-option>
                  <ion-option value="7">7</ion-option>
                  <ion-option value="8">8</ion-option>
                  <ion-option value="9">9</ion-option>
                  <ion-option value="10">10</ion-option>
                  <ion-option value="11">11</ion-option>
                  <ion-option value="12">12</ion-option>
                  <!--<div *ngIf="this.category == 'special'">
                    <ion-option value="24">24</ion-option>
                  </div>-->
                </ion-select>
              </ion-item>
            </div>
            <br><br>
          <div *ngIf="childrens == 1">
            <div text-center text-uppercase *ngIf="category!='grand'">
              <strong>Datos del niño (1)</strong>
            </div>
            <div text-center text-uppercase *ngIf="category=='grand'">
              <strong>Datos de la persona (1)</strong>
            </div>
            <br>
            <ion-item>
              <ion-label floating color="dark">Nombre<span class="color">*</span></ion-label>
              <ion-input type="text" name="nombre1" formControlName="nombre1"
              [(ngModel)]="data.nombre1"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.get('nombre1').errors && myForm.get('nombre1').dirty">
              <p color="danger" ion-text *ngIf="myForm.get('nombre1').hasError('required')"></p>
            </ion-item>
            <ion-item>
              <ion-label floating color="dark">Apellido paterno<span class="color">*</span></ion-label>
              <ion-input type="text" name="apellidop1" formControlName="apellidop1"
              [(ngModel)]="data.apellidop1"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.get('apellidop1').errors && myForm.get('apellidop1').dirty">
              <p color="danger" ion-text *ngIf="myForm.get('apellidop1').hasError('required')"></p>
            </ion-item>
            <ion-item>
              <ion-label floating color="dark">Apellido materno<span class="color">*</span></ion-label>
              <ion-input type="text" name="apellidom1" formControlName="apellidom1"
              [(ngModel)]="data.apellidom1"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.get('apellidom1').errors && myForm.get('apellidom1').dirty">
              <p color="danger" ion-text *ngIf="myForm.get('apellidom1').hasError('required')"></p>
            </ion-item>
            
              
              <div *ngIf="category!='grand'">
                <ion-item>
                  <ion-label floating color="dark">Edad<span class="color">*</span></ion-label>
              <ion-select name="edad1" formControlName="edad1"
                [(ngModel)]="data.edad1"
                okText=Aceptar
                cancelText=Cancelar>
                
                <ion-option value="1">0-1 año</ion-option>
                <ion-option value="2">2 años</ion-option>
                <ion-option value="3">3 años</ion-option>
                <ion-option value="4">4 años</ion-option>
                <ion-option value="5">5 años</ion-option>
                <ion-option value="6">6 años</ion-option>
                <ion-option value="7">7 años</ion-option>
                <ion-option value="8">8 años</ion-option>
                <ion-option value="9">9 años</ion-option>
                <ion-option value="10">10 años</ion-option>
                <ion-option value="11">11 años</ion-option>
                <ion-option value="12">12 años</ion-option>
                
              </ion-select>
            </ion-item>
            </div>
          <div *ngIf="category=='grand'">
            <ion-item>
              <ion-label floating color="dark">Edad<span class="color">*</span></ion-label>
            <ion-input type="text"  name="edad1" formControlName="edad1"
            [(ngModel)]="data.edad1" okText=Aceptar cancelText=Cancelar></ion-input>
          </ion-item>
          </div>

            <div *ngIf="category!='grand'">
            <ion-item>
              <ion-label floating color="dark">Fecha de nacimiento<span class="color">*</span></ion-label>
              <ion-datetime displayFormat="DD-MMMM-YYYY" pickerFormat="DD/MMMM/YYYY" [(ngModel)]="data.fechan1" name="fechan1" formControlName="fechan1"
              monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
              monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
              dayNames="domingo, Lunes, Martes, Miercoles, Juves, Viernes, Sabado, Domingo"
              dayShortNames="Dom, Lum, Mar, Mie, Jue, Vie, Sab"
              min=2006-01-01
              doneText=Aceptar
              cancelText=Cancelar >
            </ion-datetime>
            </ion-item>
            <ion-item *ngIf="myForm.get('fechan1').errors && myForm.get('fechan1').dirty">
              <p color="danger" ion-text *ngIf="myForm.get('fechan1').hasError('required')"></p>
            </ion-item>
            </div>
            <div *ngIf="category=='grand'">
                <ion-item>
                  <ion-label floating color="dark">Fecha de nacimiento<span class="color">*</span></ion-label>
                  <ion-datetime displayFormat="DD-MMMM-YYYY" pickerFormat="DD/MMMM/YYYY" [(ngModel)]="data.fechan1" name="fechan1" formControlName="fechan1"
                  monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
                  monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
                  dayNames="domingo, Lunes, Martes, Miercoles, Juves, Viernes, Sabado, Domingo"
                  dayShortNames="Dom, Lum, Mar, Mie, Jue, Vie, Sab"
                  doneText=Aceptar
                  cancelText=Cancelar >
                </ion-datetime>
                </ion-item>
                <ion-item *ngIf="myForm.get('fechan1').errors && myForm.get('fechan1').dirty">
                  <p color="danger" ion-text *ngIf="myForm.get('fechan1').hasError('required')"></p>
                </ion-item>
                </div>
          </div>

          <div *ngIf="childrens == 2">
            <br><br>
            <div text-center text-uppercase *ngIf="category!='grand'">
              <strong>Datos del niño (1)</strong>
            </div>
            <div text-center text-uppercase *ngIf="category=='grand'">
              <strong>Datos de la persona (1)</strong>
            </div>
            <br>
            <ion-item>
              <ion-label floating color="dark">Nombre<span class="color">*</span></ion-label>
              <ion-input type="text" name="nombre1" formControlName="nombre1"
              [(ngModel)]="data.nombre1"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.get('nombre1').errors && myForm.get('nombre1').dirty">
              <p color="danger" ion-text *ngIf="myForm.get('nombre1').hasError('required')"></p>
            </ion-item>
            <ion-item>
              <ion-label floating color="dark">Apellido paterno<span class="color">*</span></ion-label>
              <ion-input type="text" name="apellidop1" formControlName="apellidop1"
              [(ngModel)]="data.apellidop1"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.get('apellidop1').errors && myForm.get('apellidop1').dirty">
              <p color="danger" ion-text *ngIf="myForm.get('apellidop1').hasError('required')"></p>
            </ion-item>
            <ion-item>
              <ion-label floating color="dark">Apellido materno<span class="color">*</span></ion-label>
              <ion-input type="text" name="apellidom1" formControlName="apellidom1"
              [(ngModel)]="data.apellidom1"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.get('apellidom1').errors && myForm.get('apellidom1').dirty">
              <p color="danger" ion-text *ngIf="myForm.get('apellidom2').hasError('required')"></p>
            </ion-item>
            <div *ngIf="category!='grand'">
                <ion-item>
                  <ion-label floating color="dark">Edad<span class="color">*</span></ion-label>
              <ion-select name="edad1" formControlName="edad1"
                [(ngModel)]="data.edad1"
                okText=Aceptar
                cancelText=Cancelar>
                
                <ion-option value="1">0-1 año</ion-option>
                <ion-option value="2">2 años</ion-option>
                <ion-option value="3">3 años</ion-option>
                <ion-option value="4">4 años</ion-option>
                <ion-option value="5">5 años</ion-option>
                <ion-option value="6">6 años</ion-option>
                <ion-option value="7">7 años</ion-option>
                <ion-option value="8">8 años</ion-option>
                <ion-option value="9">9 años</ion-option>
                <ion-option value="10">10 años</ion-option>
                <ion-option value="11">11 años</ion-option>
                <ion-option value="12">12 años</ion-option>
                
              </ion-select>
            </ion-item>
            </div>
          <div *ngIf="category=='grand'">
            <ion-item>
              <ion-label floating color="dark">Edad<span class="color">*</span></ion-label>
            <ion-input type="text"  name="edad1" formControlName="edad1"
            [(ngModel)]="data.edad1" okText=Aceptar cancelText=Cancelar></ion-input>
          </ion-item>
          </div>
          <div *ngIf="category!='grand'">
              <ion-item>
                <ion-label floating color="dark">Fecha de nacimiento<span class="color">*</span></ion-label>
                <ion-datetime displayFormat="DD-MMMM-YYYY" pickerFormat="DD/MMMM/YYYY" [(ngModel)]="data.fechan1" name="fechan1" formControlName="fechan1"
                monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
                monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
                dayNames="domingo, Lunes, Martes, Miercoles, Juves, Viernes, Sabado, Domingo"
                dayShortNames="Dom, Lum, Mar, Mie, Jue, Vie, Sab"
                min=2006-01-01
                doneText=Aceptar
                cancelText=Cancelar >
              </ion-datetime>
              </ion-item>
              <ion-item *ngIf="myForm.get('fechan1').errors && myForm.get('fechan1').dirty">
                <p color="danger" ion-text *ngIf="myForm.get('fechan1').hasError('required')"></p>
              </ion-item>
              </div>
              <div *ngIf="category=='grand'">
                  <ion-item>
                    <ion-label floating color="dark">Fecha de nacimiento<span class="color">*</span></ion-label>
                    <ion-datetime displayFormat="DD-MMMM-YYYY" pickerFormat="DD/MMMM/YYYY" [(ngModel)]="data.fechan1" name="fechan1" formControlName="fechan1"
                    monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
                    monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
                    dayNames="domingo, Lunes, Martes, Miercoles, Juves, Viernes, Sabado, Domingo"
                    dayShortNames="Dom, Lum, Mar, Mie, Jue, Vie, Sab"
                    doneText=Aceptar
                    cancelText=Cancelar >
                  </ion-datetime>
                  </ion-item>
                  <ion-item *ngIf="myForm.get('fechan1').errors && myForm.get('fechan1').dirty">
                    <p color="danger" ion-text *ngIf="myForm.get('fechan1').hasError('required')"></p>
                  </ion-item>
                  </div>
            <br><br>
            <div text-center text-uppercase *ngIf="category!='grand'">
              <strong>Datos del niño (2)</strong>
            </div>
            <div text-center text-uppercase *ngIf="category=='grand'">
              <strong>Datos de la persona (2)</strong>
            </div>
            <br>
            <ion-item>
              <ion-label floating color="dark">Nombre<span class="color">*</span></ion-label>
              <ion-input type="text" name="nombre2" formControlName="nombre2"
              [(ngModel)]="data.nombre2"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.get('nombre2').errors && myForm.get('nombre2').dirty">
              <p color="danger" ion-text *ngIf="myForm.get('nombre2').hasError('required')"></p>
            </ion-item>
            <ion-item>
              <ion-label floating color="dark">Apellido paterno<span class="color">*</span></ion-label>
              <ion-input type="text" name="apellidop2" formControlName="apellidop2"
              [(ngModel)]="data.apellidop2"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.get('apellidop2').errors && myForm.get('apellidop2').dirty">
              <p color="danger" ion-text *ngIf="myForm.get('apellidop2').hasError('required')"></p>
            </ion-item>
            <ion-item>
              <ion-label floating color="dark">Apellido materno<span class="color">*</span></ion-label>
              <ion-input type="text" name="apellidom2" formControlName="apellidom2"
              [(ngModel)]="data.apellidom2"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.get('apellidom2').errors && myForm.get('apellidom2').dirty">
              <p color="danger" ion-text *ngIf="myForm.get('apellidom2').hasError('required')"></p>
            </ion-item>
            <div *ngIf="category!='grand'">
                <ion-item>
                  <ion-label floating color="dark">Edad<span class="color">*</span></ion-label>
              <ion-select name="edad2" formControlName="edad2"
                [(ngModel)]="data.edad2"
                okText=Aceptar
                cancelText=Cancelar>
                
                <ion-option value="1">0-1 año</ion-option>
                <ion-option value="2">2 años</ion-option>
                <ion-option value="3">3 años</ion-option>
                <ion-option value="4">4 años</ion-option>
                <ion-option value="5">5 años</ion-option>
                <ion-option value="6">6 años</ion-option>
                <ion-option value="7">7 años</ion-option>
                <ion-option value="8">8 años</ion-option>
                <ion-option value="9">9 años</ion-option>
                <ion-option value="10">10 años</ion-option>
                <ion-option value="11">11 años</ion-option>
                <ion-option value="12">12 años</ion-option>
                
              </ion-select>
            </ion-item>
            </div>
          <div *ngIf="category=='grand'">
            <ion-item>
              <ion-label floating color="dark">Edad<span class="color">*</span></ion-label>
            <ion-input type="text"  name="edad2" formControlName="edad2"
            [(ngModel)]="data.edad1" okText=Aceptar cancelText=Cancelar></ion-input>
          </ion-item>
          </div>
          <div *ngIf="category!='grand'">
              <ion-item>
                <ion-label floating color="dark">Fecha de nacimiento<span class="color">*</span></ion-label>
                <ion-datetime displayFormat="DD-MMMM-YYYY" pickerFormat="DD/MMMM/YYYY" [(ngModel)]="data.fechan2" name="fechan2" formControlName="fechan2"
                monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
                monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
                dayNames="domingo, Lunes, Martes, Miercoles, Juves, Viernes, Sabado, Domingo"
                dayShortNames="Dom, Lum, Mar, Mie, Jue, Vie, Sab"
                min=2006-01-01
                doneText=Aceptar
                cancelText=Cancelar >
              </ion-datetime>
              </ion-item>
              <ion-item *ngIf="myForm.get('fechan2').errors && myForm.get('fechan2').dirty">
                <p color="danger" ion-text *ngIf="myForm.get('fechan2').hasError('required')"></p>
              </ion-item>
              </div>
              <div *ngIf="category=='grand'">
                  <ion-item>
                    <ion-label floating color="dark">Fecha de nacimiento<span class="color">*</span></ion-label>
                    <ion-datetime displayFormat="DD-MMMM-YYYY" pickerFormat="DD/MMMM/YYYY" [(ngModel)]="data.fechan2" name="fechan2" formControlName="fechan2"
                    monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
                    monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
                    dayNames="domingo, Lunes, Martes, Miercoles, Juves, Viernes, Sabado, Domingo"
                    dayShortNames="Dom, Lum, Mar, Mie, Jue, Vie, Sab"
                    doneText=Aceptar
                    cancelText=Cancelar >
                  </ion-datetime>
                  </ion-item>
                  <ion-item *ngIf="myForm.get('fechan2').errors && myForm.get('fechan2').dirty">
                    <p color="danger" ion-text *ngIf="myForm.get('fechan2').hasError('required')"></p>
                  </ion-item>
                  </div>
          </div>
          <div *ngIf="childrens == 3">
            <br><br>
            <div text-center text-uppercase>
              <strong>Datos del niño (1)</strong>
            </div>
            <br>
            <ion-item>
              <ion-label floating color="dark">Nombre<span class="color">*</span></ion-label>
              <ion-input type="text" name="nombre1" formControlName="nombre1"
              [(ngModel)]="data.nombre1"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.get('nombre1').errors && myForm.get('nombre1').dirty">
              <p color="danger" ion-text *ngIf="myForm.get('nombre1').hasError('required')"></p>
            </ion-item>
            <ion-item>
              <ion-label floating color="dark">Apellido paterno<span class="color">*</span></ion-label>
              <ion-input type="text" name="apellidop1" formControlName="apellidop1"
              [(ngModel)]="data.apellidop1"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.get('apellidop1').errors && myForm.get('apellidop1').dirty">
              <p color="danger" ion-text *ngIf="myForm.get('apellidop1').hasError('required')"></p>
            </ion-item>
            <ion-item>
              <ion-label floating color="dark">Apellido materno<span class="color">*</span></ion-label>
              <ion-input type="text" name="apellidom1" formControlName="apellidom1"
              [(ngModel)]="data.apellidom1"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.get('apellidom1').errors && myForm.get('apellidom1').dirty">
              <p color="danger" ion-text *ngIf="myForm.get('apellidom1').hasError('required')"></p>
            </ion-item>
            <ion-item>
              <ion-label floating color="dark">Edad<span class="color">*</span></ion-label>
              <ion-select name="edad1" formControlName="edad1"
                [(ngModel)]="data.edad1"
                okText=Aceptar
                cancelText=Cancelar>
                <ion-option value="1">0-1 año</ion-option>
                <ion-option value="2">2 años</ion-option>
                <ion-option value="3">3 años</ion-option>
                <ion-option value="4">4 años</ion-option>
                <ion-option value="5">5 años</ion-option>
                <ion-option value="6">6 años</ion-option>
                <ion-option value="7">7 años</ion-option>
                <ion-option value="8">8 años</ion-option>
                <ion-option value="9">9 años</ion-option>
                <ion-option value="10">10 años</ion-option>
                <ion-option value="11">11 años</ion-option>
                <ion-option value="12">12 años</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label floating color="dark">Fecha de nacimiento<span class="color">*</span></ion-label>
              <ion-datetime displayFormat="DD-MMMM-YYYY" pickerFormat="DD/MMMM/YYYY" [(ngModel)]="data.fechan1" name="fechan1" formControlName="fechan1"
              monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
              monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
              dayNames="domingo, Lunes, Martes, Miercoles, Juves, Viernes, Sabado, Domingo"
              dayShortNames="Dom, Lum, Mar, Mie, Jue, Vie, Sab"
              min=2006-01-01
              doneText=Aceptar
              cancelText=Cancelar >
            </ion-datetime>
            </ion-item>
            <ion-item *ngIf="myForm.get('fechan1').errors && myForm.get('fechan1').dirty">
              <p color="danger" ion-text *ngIf="myForm.get('fechan1').hasError('required')"></p>
            </ion-item>
            <br><br>
            <div text-center text-uppercase>
              <strong>Datos del niño (2)</strong>
            </div>
            <br>
            <ion-item>
              <ion-label floating color="dark">Nombre<span class="color">*</span></ion-label>
              <ion-input type="text" name="nombre2" formControlName="nombre2"
              [(ngModel)]="data.nombre2"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.get('nombre2').errors && myForm.get('nombre2').dirty">
              <p color="danger" ion-text *ngIf="myForm.get('nombre2').hasError('required')"></p>
            </ion-item>
            <ion-item>
              <ion-label floating color="dark">Apellido paterno<span class="color">*</span></ion-label>
              <ion-input type="text" name="apellidop2" formControlName="apellidop2"
              [(ngModel)]="data.apellidop2"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.get('apellidop2').errors && myForm.get('apellidop2').dirty">
              <p color="danger" ion-text *ngIf="myForm.get('apellidop2').hasError('required')"></p>
            </ion-item>
            <ion-item>
              <ion-label floating color="dark">Apellido materno<span class="color">*</span></ion-label>
              <ion-input type="text" name="apellidom2" formControlName="apellidom2"
              [(ngModel)]="data.apellidom2"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.get('apellidom2').errors && myForm.get('apellidom2').dirty">
              <p color="danger" ion-text *ngIf="myForm.get('apellidom2').hasError('required')"></p>
            </ion-item>
            <ion-item>
              <ion-label floating color="dark">Edad<span class="color">*</span></ion-label>
              <ion-select name="edad2" formControlName="edad2"
                [(ngModel)]="data.edad2"
                okText=Aceptar
                cancelText=Cancelar>
                <ion-option value="1">0-1 año</ion-option>
                <ion-option value="2">2 años</ion-option>
                <ion-option value="3">3 años</ion-option>
                <ion-option value="4">4 años</ion-option>
                <ion-option value="5">5 años</ion-option>
                <ion-option value="6">6 años</ion-option>
                <ion-option value="7">7 años</ion-option>
                <ion-option value="8">8 años</ion-option>
                <ion-option value="9">9 años</ion-option>
                <ion-option value="10">10 años</ion-option>
                <ion-option value="11">11 años</ion-option>
                <ion-option value="12">12 años</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label floating color="dark">Fecha de nacimiento<span class="color">*</span></ion-label>
              <ion-datetime displayFormat="DD-MMMM-YYYY" pickerFormat="DD/MMMM/YYYY" [(ngModel)]="data.fechan2" name="fechan2" formControlName="fechan2"
              monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
              monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
              dayNames="domingo, Lunes, Martes, Miercoles, Juves, Viernes, Sabado, Domingo"
              dayShortNames="Dom, Lum, Mar, Mie, Jue, Vie, Sab"
              min=2006-01-01
              doneText=Aceptar
              cancelText=Cancelar >
            </ion-datetime>
            </ion-item>
            <ion-item *ngIf="myForm.get('fechan2').errors && myForm.get('fechan2').dirty">
              <p color="danger" ion-text *ngIf="myForm.get('fechan2').hasError('required')"></p>
            </ion-item>
            <br><br>
            <div text-center text-uppercase>
              <strong>Datos del niño (3)</strong>
            </div>
            <br>
            <ion-item>
              <ion-label floating color="dark">Nombre<span class="color">*</span></ion-label>
              <ion-input type="text" name="nombre3" formControlName="nombre3"
              [(ngModel)]="data.nombre3"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.get('nombre3').errors && myForm.get('nombre3').dirty">
              <p color="danger" ion-text *ngIf="myForm.get('nombre3').hasError('required')"></p>
            </ion-item>
            <ion-item>
              <ion-label floating color="dark">Apellido paterno<span class="color">*</span></ion-label>
              <ion-input type="text" name="apellidop3" formControlName="apellidop3"
              [(ngModel)]="data.apellidop3"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.get('apellidop3').errors && myForm.get('apellidop3').dirty">
              <p color="danger" ion-text *ngIf="myForm.get('apellidop3').hasError('required')"></p>
            </ion-item>
            <ion-item>
              <ion-label floating color="dark">Apellido materno<span class="color">*</span></ion-label>
              <ion-input type="text" name="apellidom3" formControlName="apellidom3"
              [(ngModel)]="data.apellidom3"></ion-input>
            </ion-item>
            <ion-item *ngIf="myForm.get('apellidom3').errors && myForm.get('apellidom3').dirty">
              <p color="danger" ion-text *ngIf="myForm.get('apellidom3').hasError('required')"></p>
            </ion-item>
            <ion-item>
              <ion-label floating color="dark">Edad<span class="color">*</span></ion-label>
              <ion-select name="edad3" formControlName="edad3"
                [(ngModel)]="data.edad3"
                okText=Aceptar
                cancelText=Cancelar>
                <ion-option value="1">0-1 año</ion-option>
                <ion-option value="2">2 años</ion-option>
                <ion-option value="3">3 años</ion-option>
                <ion-option value="4">4 años</ion-option>
                <ion-option value="5">5 años</ion-option>
                <ion-option value="6">6 años</ion-option>
                <ion-option value="7">7 años</ion-option>
                <ion-option value="8">8 años</ion-option>
                <ion-option value="9">9 años</ion-option>
                <ion-option value="10">10 años</ion-option>
                <ion-option value="11">11 años</ion-option>
                <ion-option value="12">12 años</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label floating color="dark">Fecha de nacimiento<span class="color">*</span></ion-label>
              <ion-datetime displayFormat="DD-MMMM-YYYY" pickerFormat="DD/MMMM/YYYY" [(ngModel)]="data.fechan3" name="fechan3" formControlName="fechan3"
              monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
              monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
              dayNames="domingo, Lunes, Martes, Miercoles, Juves, Viernes, Sabado, Domingo"
              dayShortNames="Dom, Lum, Mar, Mie, Jue, Vie, Sab"
              min=2006-01-01
              doneText=Aceptar
              cancelText=Cancelar >
            </ion-datetime>
            </ion-item>
            <ion-item *ngIf="myForm.get('fechan3').errors && myForm.get('fechan3').dirty">
              <p color="danger" ion-text *ngIf="myForm.get('fechan3').hasError('required')"></p>
            </ion-item>
          </div>
          <ion-item>
            <ion-label floating color="dark">Información adicional</ion-label>
            <ion-textarea name="note" formControlName="note"
            [(ngModel)]="data.note" name="note" autocomplete="on" autocorrect="on" rows="5" cols="50"></ion-textarea>
          </ion-item>
          <br><br>
          <div text-center text-uppercase>
            <strong>Domicilio del cuidado</strong>
          </div>
          <br>
          <ion-item>
            <ion-label floating color="dark">Ciudad<span class="color">*</span></ion-label>
            <ion-select name="ciudad" formControlName="ciudad"
              [(ngModel)]="data.ciudad"
              okText=Aceptar
              cancelText=Cancelar
              (click)="showAlertC()">
              <ion-option value="Ciudad de México">Ciudad de México</ion-option>
              <ion-option value="Estado de México">Estado de México</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating color="dark">Delegación</ion-label>
            <ion-input type="text" name="delegacion" formControlName="delegacion"
            [(ngModel)]="data.delegacion"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating color="dark">Colonia<span class="color">*</span></ion-label>
            <ion-input type="text" name="colonia" formControlName="colonia"
            [(ngModel)]="data.colonia"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating color="dark">Calle<span class="color">*</span></ion-label>
            <ion-input type="text" name="calle" formControlName="calle"
            [(ngModel)]="data.calle"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating color="dark">Número exterior<span class="color">*</span></ion-label>
            <ion-input type="text" name="numEx" formControlName="numEx"
            [(ngModel)]="data.numEx"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating color="dark">Número interior</ion-label>
            <ion-input type="text" name="numIn" formControlName="numIn"
            [(ngModel)]="data.numIn"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating color="dark">Código postal<span class="color">*</span></ion-label>
            <ion-input type="number" name="cp" formControlName="cp"
            [(ngModel)]="data.cp"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating color="dark">Telefono celular<span class="color">*</span></ion-label>
            <ion-input type="number" name="movil" formControlName="movil"
            [(ngModel)]="data.movil"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating color="dark">Código Promo</ion-label>
            <ion-input type="text" name="cpr" formControlName="cpr"
            [(ngModel)]="data.cpr"></ion-input>
          </ion-item>

          <!-- Inicia Mapa -->
            <!-- <ion-item>
              <ion-label floating color="dark">Dirección donde sera el cuidado<span class="color">*</span></ion-label>
              <ion-input type="text" [(ngModel)]="data.dire"  name="dire" formControlName="dire"></ion-input>
            </ion-item>
            <br>
            <div text-center>
              <strong>Tu ubicacion actual</strong>
            </div>
            <agm-map [latitude]="userGeo.lat" [longitude]="userGeo.lng" [zoom]="16" (mapClick)="onChoseLocation($event)">
              <agm-marker [latitude]="userGeo.lat" [longitude]="userGeo.lng"></agm-marker>
            </agm-map> -->
            <!-- Termina Mapa -->

            <div padding  *ngIf="childrens == 1">
              <button ion-button block type="button" color="dark" (click)="checkPromo(1)" [disabled]="!myForm.valid">Guardar</button>
            </div>
            <div padding  *ngIf="childrens == 2">
              <button ion-button block type="button" color="dark" (click)="checkPromo(2)" [disabled]="!myForm.valid">Guardar</button>
            </div>
            <div padding  *ngIf="childrens == 3">
              <button ion-button block type="button" color="dark" (click)="checkPromo(3)" [disabled]="!myForm.valid">Guardar</button>
            </div>
            <div padding  *ngIf="childrens == 4">
              <button ion-button block type="button" color="dark" (click)="checkPromo(4)" [disabled]="!myForm.valid">Guardar</button>
            </div>
          </form>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
