<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="dark">
    <ion-list no-lines>
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <button ion-item (click)="openPage(home)" class="dark">
              <ion-col col-4>
                <ion-icon name="md-home" md="md-home"></ion-icon>
              </ion-col>
              <ion-col col-8>
                Inicio
              </ion-col>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <button ion-item (click)="openPage(perfil)" class="dark">
              <ion-col col-4>
                <ion-icon name="md-person" md="md-person"></ion-icon>
              </ion-col>
              <ion-col col-8>
                Mi Perfil
              </ion-col>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <button ion-item (click)="openPage(nanysf)" class="dark">
              <ion-col col-4>
                <ion-icon name="heart" md="md-heart"></ion-icon>
              </ion-col>
              <ion-col col-8>
                Mis Nannies
              </ion-col>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-item (click)="openPage(reserved)" class="dark">
              <ion-col col-4>
                <ion-icon name="md-document" md="md-document"></ion-icon>
              </ion-col>
              <ion-col col-8>
                  Mis Reservaciones
              </ion-col>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <button ion-item (click)="openPage(historial)" class="dark">
              <ion-col col-4>
                <ion-icon name="md-filing" md="md-filing"></ion-icon>
              </ion-col>
              <ion-col col-8>
                Mi Historial
              </ion-col>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <button ion-item (click)="openPage(contactanos)" class="dark">
              <ion-col col-4>
                <ion-icon name="mail" md="md-mail"></ion-icon>
              </ion-col>
              <ion-col col-8>
                Contáctanos
              </ion-col>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <button ion-item (click)="openPage(preguntas)" class="dark">
              <ion-col col-4>
              <ion-icon ios="ios-book" md="md-book"></ion-icon>
              </ion-col>
              <ion-col col-8>
                Preguntas Frecuentes
              </ion-col>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <button ion-item (click)="signOut(login)" class="dark">
              <ion-col col-4>
                <ion-icon name="md-log-out" md="md-log-out"></ion-icon>
              </ion-col>
              <ion-col col-8>
                Cerrar sesión
              </ion-col>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <ion-footer>
      <ion-toolbar>
        <ion-grid>
          <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-11>
              <button ion-item (click)="modal_politicas()" class="dark">
                  Políticas de privacidad
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-footer>
  </ion-content>
</ion-menu>


<ion-nav [root]="rootPage" #content></ion-nav>
