// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-title{
  text-transform:uppercase;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  color: rgb(80, 80, 80);
  pointer-events: auto;
  width: 85%;

}

.toolbar-title-md {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: #000;
    pointer-events: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.toolbar-background {
    background-color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.bar-button{
  color: #1e272e;
}

.dark {
  background: #ffffff;
}

ion-content{
  background: linear-gradient(to bottom, #ffffff 70%, #eeeeee 100%);
}

.grid {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 103%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.input-wrapper{
  font-size: 1.3rem;
}

@font-face {
  font-family: 'Humanst';
  src: url('../assets/fonts/roboto-light.woff2') format('woff2'), url('../assets/fonts/roboto-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Humanst';
}
