page-nanny {

   .true{
      display: block;
      font-size: 2.2em;
      color: #ae68b2;
    }

    .false{
       display: block;
       font-size: 2.2em;
    }

    .solicitar{
      display: block;
      font-size: 2.2em;
    }

    #icon {
      font-size: 1.6em;
      max-width: 50px;
      border: 0px;
      padding: 0em;
      margin: 0em 0px 0em 1em;
    }

    #icon-pato {
      max-width: 15px;
      border: 0px;
      padding: 0em;
      margin: 0em 0 0em 0em;
    }

    #promedio {
      font-size: 24px;
      margin-left: 20px;
    }




}
