
<ion-header>

  <ion-navbar>
    <ion-title>nanny</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <img src="{{nanyImage.screenshot1}}" style="width:90%;border-radius:50%;">
          <br><br>
          <small id="promedio">{{promedio}}</small> <img src="./assets/imgs/icon-pato.png" id="icon-pato">
          <ion-icon id="icon" ios="ios-chatbubbles" md="md-chatbubbles" (click)="goComments()"></ion-icon>
      </ion-col>
      <ion-col col-6>
        <div text-center>
          <br>
          <h6>{{nannyP.title}}</h6>


          <div *ngIf="category=='traditional'">
            <h3 style="color:#e2c81f">{{nannyP.nickname}}</h3>
          </div>
          <div *ngIf="category=='day'">
              <h3 style="color:#ff9100">{{nannyP.nickname}}</h3>
          </div>
          <div *ngIf="category=='stand'">
            <h3 style="color:#ff006f">{{nannyP.nickname}}</h3>
          </div>
          <div *ngIf="category=='dream'">
            <h3 style="color:#8a00ff">{{nannyP.nickname}}</h3>
          </div>
          
          <div *ngIf="category=='trip'">
              <h3 style="color:#97bb2c">{{nannyP.nickname}}</h3>
          </div>
          <div *ngIf="category=='party'">
              <h3 style="color:#ff7800">{{nannyP.nickname}}</h3>
          </div>
          <div *ngIf="category=='special'">
              <h3 style="color:#008aff">{{nannyP.nickname}}</h3>
          </div>
          <div *ngIf="category=='grand'">
              <h3 style="color:#860133">{{nannyP.nickname}}</h3>
          </div>
          <h6> <small>{{nannyP.certificado}}</small> </h6>
        </div>
      </ion-col>
    </ion-row>
    <br><br>
    <ion-row>
      <ion-col col-6>
        <h6>Profesión:</h6>
      </ion-col>
      <ion-col col-6>
        <h6 style="font-weight:normal">{{nannyP.description}}</h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <h6>Idiomas:</h6>
      </ion-col>
      <ion-col col-6>
        <h6 style="font-weight:normal">{{nannyP.idioma}}</h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <h6>Edad:</h6>
      </ion-col>
      <ion-col col-6>
        <h6 style="font-weight:normal">{{nannyP.age}} años</h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <h6>Experiencia:</h6>
      </ion-col>
      <ion-col col-6>
        <h6 style="font-weight:normal">{{nannyP.tagsString}}</h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <h6>Edad a cuidar:</h6>
      </ion-col>
      <ion-col col-6>
        <h6 style="font-weight:normal">{{nannyP.childrenage}} años</h6>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <h6>Pet friendly:</h6>
      </ion-col>
      <ion-col col-6>
        <h6 style="font-weight:normal">{{nannyP.pet}}</h6>
      </ion-col>
    </ion-row>
    <!--
    <ion-row>
        <ion-col col-6>
          <h6>Zonas de servicio:</h6>
        </ion-col>
        <ion-col col-6>
          <h6 style="font-weight:normal">{{nannyP.zonas}}</h6>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-6>
            <h6>Horarios de servicio:</h6>
          </ion-col>
          <ion-col col-6>
            <h6 style="font-weight:normal">{{nannyP.horarios}}</h6>
          </ion-col>
        </ion-row>

        -->
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <div *ngIf="usersFa.marked == false || usersFa == false " text-center (click)="favorite(true)">
            Nanny Favorita
            <ion-icon class="false" name="heart-outline" md="md-heart-outline"></ion-icon>
          </div>
          <div *ngIf="usersFa.marked == true" text-center (click)="favorite(false)">
            Nanny Favorita
            <ion-icon class="true" name="heart" md="md-heart"></ion-icon>
          </div>
        </ion-col>
        <ion-col col-4></ion-col>
        <ion-col col-4>
          <div (click)="goRequestForm(nanyId,nannyP.idPlayer,idPlayerUser)" text-center>
            Solicitar
            <ion-icon class="solicitar" ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
