<ion-grid class="rating-container">
  <ion-row>
    <ion-col *ngFor="let star of stars; let i = index " tappable (click)="starClicked(i)">
      <ion-icon [name]="star"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>
