<ion-header>

  <ion-navbar>
    <button ion-button menuToggle hideBackButton="true">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>historial</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="usuario.user == 0">
    <div *ngFor="let orderU of ordersU | async">
      <div *ngIf="orderU.data.status == 3 || orderU.data.status == 4">
        
        <ion-card>
          <ion-card-header>
            <ion-title>
              <ion-grid>
                <!-- <ion-row>
                  <ion-col col-4></ion-col>
                  <ion-col col-4>
                      Estatus
                  </ion-col>
                  <ion-col col-4></ion-col>
                </ion-row> -->
                <ion-row>
                  <ion-col col-12>
                    <div *ngIf="orderU.data.status == 0">
                      <button disabled ion-button round color="dark">Pendiente</button>
                    </div>
                    <div *ngIf="orderU.data.status == 1">
                      <button disabled ion-button round color="secondary">Aceptado</button>
                    </div>
                    <div *ngIf="orderU.data.status == 4">
                      <button disabled ion-button round color="danger">Cancelado</button>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <div text-wrap *ngFor="let item of items | async">
                      <div *ngIf="item.key == orderU.data.idNanny">
                        {{item.title}}
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col col-12>
                  <div text-center>
                    <p style="text-transform: uppercase;">
                      Reservado para el día {{ orderU.data.myDate | date: 'dd-MM-yyyy' }} a las {{ orderU.data.myTime }}.
                    </p>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>
                  <button ion-button block color="dark" (click)="modal_detallesU(orderU.key, orderU.data.idNanny)">Detalles</button>
                </ion-col>
                <ion-col col-6>
                  <button ion-button block class="reordenar" (click)="goRequestForm(orderU.data.idNanny, orderU.data.numChil,orderU.data.tarifa,orderU.data.category)">Reordenar</button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
  <div *ngIf="usuario.user == 1">
    <div *ngFor="let orderN of ordersN | async">
      <div *ngIf="orderN.data.status == 3 || orderN.data.status == 4">
        <ion-card>
          <ion-card-header>
            <ion-title>
              <ion-row>
                <ion-col col-12>
                  <div *ngIf="orderN.data.status == 0">
                    <button disabled ion-button round color="dark">Pendiente</button>
                  </div>
                  <div *ngIf="orderN.data.status == 1">
                    <button disabled ion-button round color="secondary">Aceptado</button>
                  </div>
                  <div *ngIf="orderN.data.status == 4">
                    <button disabled ion-button round color="danger">Cancelado</button>
                  </div>
                </ion-col>
              </ion-row>
              <div text-wrap *ngFor="let us of this.usua | async">
                <div *ngIf="orderN.data.idUser == us.key">
                  {{us.meta.displayName }}
                </div>
              </div>
            </ion-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col col-12>
                  <div text-center>
                    <p style="text-transform: uppercase;">
                      Reservado para el día <br> {{orderN.data.myDate | date: 'dd-MM-yyyy'}} a las {{orderN.data.myTime}}.
                    </p>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12>
                  <div text-wrap *ngFor="let us of this.usua | async">
                    <div *ngIf="orderN.data.idUser == us.key">
                      <button ion-button block color="dark" (click)="modal_detalles(orderN.key,us.key)">Detalles</button>
                    </div>
                  </div>
                </ion-col>
                <ion-col col-4>
                  <div *ngIf="orderN.data.status == 0">
                    <div text-wrap *ngFor="let us of this.usua | async">
                      <div *ngIf="orderN.data.idUser == us.key">
                        <button ion-button block color="secondary" (click)="aceptService(orderN.key,us.key)">Aceptar</button>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="orderN.data.status == 1">
                    <div text-wrap *ngFor="let us of this.usua | async">
                      <div *ngIf="orderN.data.idUser == us.key">
                        <button ion-button block color="dark" (click)="startService(orderN.key,us.key)">Comenzar</button>
                      </div>
                    </div>
                  </div>
                </ion-col>
                <!-- <ion-col col-4>
                  <div text-wrap *ngFor="let us of this.usua | async">
                    <div *ngIf="orderN.data.idUser == us.key">
                      <button ion-button block color="danger" (click)="cancelService(orderN.key,us.key)">Cancelar</button>
                    </div>
                  </div>
                </ion-col> -->
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
<div *ngIf="home == 'home'">
  <ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <div (click)="goToHome()" text-center>
              <ion-icon ios="ios-home" md="md-home"></ion-icon>
              NANNAPP
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
</div>
