
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Comentarios</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <div text-center>
          <h3><strong>Notas de agradecimiento de los usuarios</strong></h3>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col *ngFor="let nany of nanyR | async" col-12>
            <h3><img src={{nany.pato}} id="pato"> {{nany.nota}}</h3>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
